{% include 'hi_header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Quality Policy</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'hindi_index' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'hi_us' %}">About Us</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Quality Policy</li>
    </ol>
  </nav>
</div>

<section class="policy-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4">{% include 'about_section/hi_aboutsidenav.html' %}</div>
      <div class="col-md-8">
        {% for data in quality %}

        <div class="policy-img">
          <img src="{{ data.policyImage.url }}" alt="#" class="" />
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'hi_footer.html' %}
