{% include 'header.html' %}

<!-- nav end -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Gallery</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'medias' %}">Media</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Gallery</li>
    </ol>
  </nav>
</div>

<section class="main-div" id="divContent">
  <div class="container">
    <div class="row">
      <h5>Technology Think Tank (TTT)</h5>
      
      {% for album in albums %}
      <div class="pt-4">
        <a href="{% url 'sub_think_tank' album.id %}"><h6 class="card-title">
            {{ album.title }} </h6>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% include 'footer.html' %}
