

{% load static %}
<div class="depart-side-tabs">
  <ul>
    <a href="{% static '/pdf/EIA_report.pdf' %}" target="blank">
      <li>
        EIA REPORT
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="/static/pdf/202309271030958532.pdf" target="blank">
      <li>
        Offshore Strategy Paper
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="/fowind_report/  ">
      <li>FOWIND Report</li>
    </a>
    <a href="/fowpi_report/">
      <li>FOWPI Report</li>
    </a>
    <a href="/fowpi_workshop_presentation/">
      <li>FOWPI Workshop Presentations</li>
    </a>
    <a href="/offshore_lidar/">
      <li>Offshore LiDAR Raw data</li>
    </a>
    <a href="/offshore_EPD_Gujarat/">
      <li>Offshore Wind Energy portal</li>
    </a>
  </ul>
</div>
