{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Online Training Program on Solar Energy</h1>
    </div>
  </div>
</section>

<section class="main-div">
  <div class="container">
    <div class="col-12 row mx-auto">
      <div class="grd-box">
        <div class="mt-4">
          <ol type="I" class="event-list">
            <li class="li-items">
              <a href="department_srra_brief_report.html"
                >Brief Report on One day Program</a
              >
            </li>
            <li class="li-items">
              <a href="sub-gallery.html"> Event Photos </a>
            </li>
            <li class="li-items">
              <a href="/statics/images/wsra_brochure.pdf">
                Press release by DG prepared in connection with the program
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="row col-12 mx-auto d-flex justify-content-evenly">
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 mt-5">
        <a href="https://mnre.gov.in/">
          <div class="card gov-img-icon-card">
            <img src="/statics/images/renew.jpg" alt="" />
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 mt-5">
        <a href="https://nise.res.in/">
          <div class="card gov-img-icon-card">
            <img src="/statics/images/nise.png" alt="" />
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 mt-5">
        <a href="https://seci.gov.in/">
          <div class="card gov-img-icon-card">
            <img src="/statics/images/seci-logo.jpg" alt="" />
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 mt-5">
        <a href="https://sscgj.in/">
          <div class="card gov-img-icon-card">
            <img src="/statics/images/scgj.png" alt="" />
          </div>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-6 mt-5">
        <a href="https://www.iacharya.in/site/">
          <div class="card gov-img-icon-card">
            <img src="/statics/images/ica-silicon.png" alt="" />
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% include 'footer.html' %}
