{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Offshore Wind Energy portal</h1>
    </div>
  </div>
</section>  

<section class="dgm-div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wra-off-img text-center">
          <a href="">
            <img
              src="/statics/images/title-logo.png"
              alt=""
              class="img-fluid text-center"
              style="width: 15%"
            />
          </a>
        </div>

        <h4 class="pt-4">
          <a href="offshore_EPD_Gujarat.html" class="text-dark">
            NIWE Presentation and EPD (Energy and Petrochemicals Department),
            Gujarat Presentation.
            <span
              class="blink_me"
              style="
                background-color: red;
                padding: 1px 5px 4px;
                color: #fff;
                border-radius: 4px;
              "
              >New</span
            ></a
          >
        </h4>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
