{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Finance</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Admin</li>
    </ol>
  </nav>
</div>

<section class="finance-sec" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h6>
          <a href="/static/pdf/Revised_ACR_format.docx">
            Revised format of ACR
          </a>
          <span
            class="blink_me"
            style="
              background-color: red;
              padding: 1px 5px 4px;
              color: #fff;
              border-radius: 4px;
            "
            >New</span
          >
        </h6>

        <h6 class="pt-2">
          <a href="/static/pdf/NIWE_Welfare_Fund_Scheme.pdf " target="_blank">
            NIWE Welfare Fund Scheme
          </a>
        </h6>
      </div>

      <div class="col-md-4">{% include "depart-fa-side-tabs.html" %}</div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
