{% include 'hi_header.html' %}

<section class="head-div">
<div class="overlay d-flex align-items-center">
<div class="container">
<h1 class="text-white">करियर</h1>
</div>
</div>
</section>

<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-transparent p-0">
<li class="breadcrumb-item">
<a href="{% url 'hindi_index' %}">मुख्य पृष्ठ</a>
</li>
<li class="breadcrumb-item active" aria-current="page">करियर</li>
</ol>
</nav>
</div>

<section class="careers-sec" id="divContent">
<div class="container">
<h5>भर्ती</h5>

<p class="mx-2">

प्रशासनिक कार्यकारी, लेखा कार्यकारी, क्रय कार्यकारी और सुरक्षा
अधिकारी के पदों के लिए भर्ती अधिसूचना (विज्ञापन संख्या 01/2024):
</p>

<div class="table-responsive">
<table class="table table-bordered">
<thead class="table-success">

<tr class="text-center">
<th scope="col">क्रमांक</th>
<th scope="col" colspan="2">विज्ञापन संख्या</th>
<th scope="col">पद का नाम</th>
<th scope="col">आवेदन फॉर्म</th>
<th स्कोप="कॉल">परिणाम</th>
</tr>

</thead>
<tbody>
<tr>
<th स्कोप="पंक्ति">1</th>
<td colspan="2">
<a
href="/static/careers/Advertisement_No.01-2024.pdf"
target="blank"
class=" "
>विज्ञापन संख्या 01/2024</a
>
</td>
<td>
प्रशासनिक कार्यकारी, लेखा कार्यकारी, क्रय कार्यकारी और
सुरक्षा अधिकारी
</td>
<td>
<a
href="/static/careers/Application_Advt No.01-2024.pdf"
target="_blank"
class=" "
>आवेदन डाउनलोड करें</a
>
</td>
<td>
<a
href="/static/careers/Result_Advt No.01-2024.pdf"
target="_blank"
class=" "
>15.02.2024 और 16.02.2024 को आयोजित वॉक-इन-इंटरव्यू का परिणाम
NIWE Advt No.01/2024 दिनांक 06.02.2024 के विरुद्ध
<b
class="blink_me"
style="
background-color: red;
padding: 1px 5px 4px;
color: #fff;
border-radius: 4px;
"

>नया</b
></a
>
</td>
</tr>
</tbody>
</table>
</div>

<p class="mx-3">
<a
href="/static/careers/Advt No.03-2002_25.10.2022.pdf"
target="blank"
class="t"
>
निम्नलिखित संविदा पदों के लिए भर्ती अधिसूचना (विज्ञापन संख्या 03/2022):</a
>
</p>

<div class="table-responsive">
<table class="table table-bordered">
<thead class="table-success">
<tr class="text-center">
<th scope="col">Sl.No</th>
<th scope="col" colspan="2">विज्ञापन सं.</th>
<th स्कोप="कॉल">पोस्ट का नाम</th>
<th स्कोप="कॉल">दिनांक विस्तार</th>
<th स्कोप="कॉल">स्थिति</th>
<th स्कोप="कॉल">परिणाम</th>
</tr>
</thead>
<tbody>
<tr>
<th स्कोप="पंक्ति">1</th>
<td
colspan="2"
rowspan="8"
style="text-align: center; vertical-align: middle"
>
<a
href="/static/careers/Advt No.03-2002_25.10.2022 (1).pdf"
target="blank"
class=" "
>Advt No.03/2022</a
>
</td>
<td scope="col">कार्यक्रम समन्वयक - प्रबंधन - 01 नंबर</td>
<td
scope="col"
rowspan="8"
style="text-align: center; vertical-align: middle"

>
<a
href="/static/careers/Notification of Date Extension_Advt.no_03_2022.pdf"
class=" "
target="_blank"

>Advt.no:03/2022 के विरुद्ध
ऑनलाइन माध्यम से आवेदन जमा करने की तिथि बढ़ाने की अधिसूचना</a
>
</td>
<td scope="col">
<a
href="/static/careers/Advt3_Program_Coordinator-Management.pdf"
target="_blank"
class=" "
>शॉर्टलिस्ट किए गए/नहीं शॉर्टलिस्ट किए गए उम्मीदवारों की सूची</a
>
</td>
<td
scope="col"
rowspan="8"
style="text-align: center; vertical-align: middle"

>
              <a
                href="/static/careers/Result_AdvtNo_03-2022.pdf"
                target="_blank"
                class=" "
                >Result of Selected/ Waitlisted Candidates for contractual posts
                against Advt No.03/2022 dated 25.10.2022</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Program Coordinator - Financial - 01 No.</td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Program_Coordinator-Financial.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Provisionally Shortlisted / Not
                Shortlisted Candidates</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>

            <td scope="col">Project Assistant - Technical - 01 No.</td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Assistant-Technical.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Not Shortlisted Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">Project Assistant Grade - I - 07 Nos.</td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Assistant-Grade1.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Provisionally Shortlisted / Not
                Shortlisted Candidates</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>

            <td scope="col">Project Assistant Grade - II - 03 Nos.</td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Assistant-Grade2.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Not Shortlisted Candidates</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>

            <td scope="col">
              Project Engineer Grade - I (Mechanical / Aeronautical) - 01 No.
            </td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Engineer-Grade1_PEGI-01.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Not Shortlisted Candidates</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>

            <td scope="col">
              Project Engineer Grade - I (Electrical) - 01 No.
            </td>

            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Engineer-Grade1_PEGI-02.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Not Shortlisted Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td scope="col">
              Project Engineer Grade - I (Mechanical / Aeronautical) - 01 No.
            </td>
            <td scope="col">
              <a
                href="/static/careers/Advt3_Project_Engineer-Grade1_PEGI-03.pdf"
                target="_blank"
                class=" "
                >List of Shortlisted / Provisionally Shortlisted / Not
                Shortlisted Candidates</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <a
        href="/static/careers/Notification_Extn_Date_JE_06.09.2022.pdf"
        target="_blank"
        class="t"
        >Extension of Last date of Online application for the posts of Junior
        Engineer (EWS & UR), (Advt.No.02/2022 dated 28.07.2022)</a
      >
    </p>
    <p>
      <a
        href="/static/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf"
        target="_blank"
        class="t"
        >Cancellation of Recruitment Notification (Advt.No.08/2021) for the
        posts of</a
      >
    </p>

    <ul>
      <a href="/static/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf"
        ><li>Project Assistant Grade-I (Post Code : WSOM-IWSRA-PA-I)</li></a
      >
      <a href="/static/careers/Cancellation Advt No.08-2021_IWSRA Posts.pdf"
        ><li>Project Assistant Grade-II (Post Code : WSOM-IWSRA-PA-II)</li></a
      >
    </ul>

    <p>
      <a
        href="/static/careers/Advt No.02-2022_Asst.Dir(F&A)_EA_JEA_JE.pdf"
        target="_blank"
            
        >Recruitment Notification (Advertisement No.02/2022) for the posts of
        :</a
      >
    </p>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">1</th>
            <td
              colspan="2"
              rowspan="8"
              style="text-align: center; vertical-align: middle"
            >
              <a
                href="/static/careers/Advt No.03-2002_25.10.2022.pdf"
                target="blank"
                class=" "
                >Advt No.02/2022</a
              >
            </td>
            <td scope="col">Assistant Director - Finance & Administration</td>

            <td
              scope="col"
              rowspan="8"
              style="text-align: center; vertical-align: middle"
            >
              <a
                href="https://recruitment.niwe.res.in/"
                class=" "
                target="blank"
                >Apply Here</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Executive Assistant</td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">
              Junior Engineer
              <b
                ><a
                  href="/static/careers/Notification_Extn_Date_JE_06.09.2022.pdf"
                  target="blank"
                  class="t"
                  >(Last date extended upto 26.09.2022)</a
                ></b
              >
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">Junior Executive Assistant</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a
        href="/static/careers/Advt.No.01-2022_12.04.2022.pdf"
        class="t"
        target="blank"
        >Recruitment to the contractual posts of :</a
      >
    </p>

    <p>
      <a
        href="/static/careers/Interview_Result-Advt.No.01-2022.pdf"
        target="blank"
        class="t"
        >Result of Interview held on 08.07.2022 against NIWE Advt.no.01/2022 Dt
        12.04.2022</a
      >
    </p>

    <p>
      <a
        href="/static/careers/notification_for_Extension_of_Advt.no_01_2022.pdf"
        class="t"
        >Notification for Extension of submission of application through online
        against Advt.no:01/2022</a
      >
    </p>

    <p>
      <a
        href="/static/careers/Amendment_for_Advt.no_01_2022.pdf"
        class="t"
        >Amendment for Essential qualification against Advt. no:01/2022</a
      >
    </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td
              colspan="2"
              rowspan="8"
              style="text-align: center; vertical-align: middle"
            >
              <a
                href="/static/careers/Advt.No.01-2022_12.04.2022.pdf"
                class=" "
                >Advt No.01/2022</a
              >
            </td>
            <td scope="col">Program Coordinator - Technical - 01 No.</td>

            <td scope="col">
              <a
                href="/static/careers/Program_Coordinator-Technical-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Program Coordinator - Management - 01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Program_Coordinator-Management-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">Program Coordinator - Financial-01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Program_Coordinator-Financial-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">
              Web Designer, Database Management, Portal Maintenance - 01 No.
            </td>
            <td scope="col">
              <a
                href="/static/careers/Web_Designer,Database_Management,Portal_Maintenance-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">5</th>

            <td scope="col">Project Assistant - Technical - 01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Project_Assistant-Technical-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">6</th>

            <td scope="col">Project Assistant - Financial - 01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Project_Assistant-Financial-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">7</th>

            <td scope="col">Senior Research Fellow - 01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Senior_Research_Fellow-01_No.pdf"
                class=" "
              >
                List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">8</th>

            <td scope="col">Purchase Executive - 01 No.</td>
            <td scope="col">
              <a
                href="/static/careers/Purchase_Executive-01_No.pdf"
                class=" "
                >List of Provisionally Shortlisted / Not Shortlisted
                Candidates</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a href="/static/careers/Cancellation_of_EA_and_JEA.pdf" class="t"
        >Cancellation of Recruitment Notification (Advt.No.07/2021) for the
        posts of:</a
      >
    </p>

    <ul>
      <a href="/static/careers/Cancellation_of_EA_and_JEA.pdf"
        ><li>Executive Assistant (EA) 1 No. (EWS)</li></a
      >
      <a href="/static/careers/Cancellation_of_EA_and_JEA.pdf"
        ><li>Junior Executive Assistant (JEA) 1 No. (OBC)</li></a
      >
    </ul>

    <p>
      <a
        href="/static/careers/Cancellation_Advt.No.08-2021.pdf"
        class="t"
        >Cancellation of Recruitment Notification (Advt.No.08/2021) for the post
        of :</a
      >
    </p>

    <ul>
      <a href="/static/careers/Cancellation_Advt.No.08-2021.pdf"
        ><li>Project Engineer Grade - I (Post Code No.S&R-PE-I)</li></a
      >
      <a href="/static/careers/Cancellation_Advt.No.08-2021.pdf"
        ><li>Project Engineer Grade - II (Post Code No.S&R-PE-II)</li></a
      >
    </ul>

    <p>
      <a href="/static/careers/Result_AD(F&A).pdf" class="t"
        >Result of interview for the post of Additional Director (Finance &
        Administration) held on 07.03.2022 against Advt. No. 06/2021.</a
      >
    </p>
    <p>
      Recruitment for one post of Additional Director (Finance & Administration)
      - NIWE Advertisement No. 06/2021.
    </p>

    <ul>
      <a href="/static/careers/List_of_Shortlisted_Candidates_AD(F&A).pdf"
        ><li>List of Shortlisted /Provisionally Shortlisted Candidates</li></a
      >
      <a href="/static/careers/List_of_Not_Shortlisted_Candidates_AD(F&A).pdf"
        ><li>List of Not Shortlisted Candidates</li></a
      >
    </ul>

    <p>
      Recruitment of various posts on contract basis against Advertisement No.
      09/2021 - List of Recommended and Not recommended candidates
    </p>

    <div class="table-responsive">
      <table class="table table-bordered table-responsive">
        <thead class="table-success">
          <tr class="text-center">
            <th scope="col">Sl.No</th>
            <th scope="col" colspan="2">Advertisement No.</th>
            <th scope="col">Name of the Post</th>

            <th scope="col" colspan="2">Status</th>

            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td
              colspan="2"
              rowspan="4"
              style="text-align: center; vertical-align: middle"
            >
              09/2021 Dt., 09.11.2021
            </td>
            <td scope="col">Project Coordinator (SDT-PC-01)</td>

            <td scope="col">
              <a
                href="/static/careers/Project_Coordinator_Recommended.pdf"
                class=" "
              >
                List of Recommended Candidates</a
              >
            </td>
            <td scope="col">
              <a
                href="/static/careers/Administrative_Executive_Recommended.pdf"
                class=" "
                >List of Not Recommended Candidates</a
              >
            </td>

            <td
              scope="col"
              rowspan="4"
              style="text-align: center; vertical-align: middle"
            >
              <a
                href="/static/careers/Result_Advtt.No.09-2021.pdf"
                class=" "
                >Result of Selection of candidates for the posts of Project
                Coordinator, Administrative Executive, Accounts Executive &
                Purchase Executive on contract basis against NIWE
                Advt.No.09/2021 dated 09.11.2021</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>

            <td scope="col">Administrative Executive (F&A-ADMIN-01)</td>
            <td scope="col">
              <a
                href="/static/careers/Administrative_Executive_Recommended.pdf"
                class=" "
                >List of Recommended Candidates</a
              >
            </td>
            <td scope="col">
              <a
                href="/static/careers/Administrative_Executive_Not_Recommended.pdf"
                class=" "
                >List of Not Recommended Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>

            <td scope="col">Accounts Executive (F&A-ACCOUNTS-01)</td>
            <td scope="col">
              <a
                href="/static/careers/Accounts_Executive_Recommended.pdf"
                class=" "
                >List of Recommended Candidates</a
              >
            </td>
            <td scope="col">
              <a
                href="/static/careers/Accounts_Executive_Not_Recommended.pdf"
                class=" "
                >List of Not Recommended Candidates</a
              >
            </td>
          </tr>

          <tr>
            <th scope="row">4</th>

            <td scope="col">Purchase Executive (F&A-PURCHASE-01)</td>
            <td scope="col">
              <a
                href="/static/careers/Purchase_Executive_Recommended.pdf  "
                class=" "
                >List of Recommended Candidates</a
              >
            </td>
            <td scope="col">
              <a
                href="/static/careers/Purchase_Executive_Not_Recommended.pdf"
                class=" "
                >List of Not Recommended Candidates</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>
      <a
        href="/static/careers/Instructions-shortlisted_candidates.pdf"
        class="t"
        >Important instructions to the shortlisted candidates (Against
        Advt.No.04/2021 dated 11.06.2021 for the Post of Project Assistant Grade
        - I & II)</a
      >
    </p>

    <ul>
      <a
        href="/static/careers/Recommended_candidates-Project_Assistant-Grade-I.pdf"
        ><li>
          List of recommended candidates for the Project Assistant Grade - I
          (Met Ocean Measurements)
        </li></a
      >
      <a
        href="/static/careers/Recommended_candidates-Project_Assistant-Grade-II.pdf"
        ><li>
          List of recommended candidates for the Project Assistant Grade - II
          (Met Ocean Measurements)
        </li></a
      >
      <a href="/static/careers/PA_G-I_Result.pdf"
        ><li>
          Result of Online interview for engagement of Project Assistant Grade-I
          on contract basis against NIWE Advt.No.04/2021 dated 11.06.2021
        </li></a
      >
      <a href="/static/careers/PA_G-II_Result.pdf"
        ><li>
          Result of Online interview for engagement of Project Assistant
          Grade-II on contract basis against NIWE Advt.No.04/2021 dated
          11.06.2021
        </li></a
      >
    </ul>
    <p>
      <a href="/static/careers/Result_PE_R&D_21.12.2021.pdf" class="t"
        >Result of selection of candidates to the post of Project Engineer on
        contract basis at its Online Interview held on 03.12.2021 & 04.12.2021
        against NIWE Advt. No.03/2021 dated 27.03.2021</a
      >
    </p>
    <p>
      <a href="/static/careers/Result_SRF-03-2021.pdf" class="t"
        >Result of selection of candidates to the post of Senior Research Fellow
        (SRF) on contract basis at its Online Interview held on 03.12.2021
        against NIWE Advt. No.03/2021 dated 27.03.2021</a
      >
    </p>
    <p>
      <a href="/static/careers/Result_JRF-05-2021.pdf" class="t"
        >Result of selection of candidates to the post of Junior Research Fellow
        (JRF) on contract basis at its Online Interview held on 03.12.2021
        against NIWE Advt. No.05/2021 dated 22.07.2021</a
      >
    </p>
    <p>
      <a href="/static/careers/Result_PE_04-2021.pdf" class="t"
        >Result of selection of candidates to the post of Project Engineer Grade
        I (Mechanical / Aeronautical / Electrical Engineering) for NABCB on
        contract basis at its Online Interview held on 06.12.2021 against NIWE
        Advt. No.04/2021 dated 11.06.2021</a
      >
    </p>
    <p>
      <a
        href="/static/careers/Assistant_Director(T)_Q.paper_&_syllabus.pdf"
        class="t"
        >Question Paper for the post of Assistant Director (Technical), along
        with Syllabus and Scheme of Examination</a
      >
    </p>
    <p>
      <a href="/static/careers/JE_Q.paper_&_syllabus.pdf" class="t"
        >Question Paper for the post of Junior Engineer along with Syllabus and
        Scheme of Examination</a
      >
    </p>
    <p>
      <a
        href="/static/careers/Question Paper_Executive Assistant_2017_1_MS Office Proficiency.pdf"
        class="t"
        >Questions Papers for the post of Executive Assistant</a
      >
    </p>
    <ul>
      <a
        href="/static/careers/Question Paper_Executive Assistant_2017_1_MS Office Proficiency.pdf"
        ><li>
          Question paper for Executive Assistant - MS Office Proficiency
        </li></a
      >
      <a
        href="/static/careers/Question Paper _Executive Assistant_2017_2_Main Exam.pdf"
        ><li>Question paper for Executive Assistant - Main Exam</li></a
      >
    </ul>
  </div>
</section>
{% include 'hi_footer.html' %}
