{% include 'hi_header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">डिस्क्लेमर </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="{% url 'hindi_index' %}">मुख्य पृष्ठ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">डिस्क्लेमर </li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">
    <p>
      इस वेबसाइट की सभी सामग्री राष्ट्रीय पवन ऊर्जा संस्थान (NIWE) के स्वामित्व में है और केवल सामान्य जानकारी या उपयोग के लिए है। यद्यपि इस वेबसाइट में दी गई जानकारी की सटीकता सुनिश्चित करने के लिए हर संभव सावधानी बरती गई है, फिर भी राष्ट्रीय पवन ऊर्जा संस्थान (NIWE) साइट पर दी गई जानकारी के प्रत्यक्ष/अप्रत्यक्ष उपयोग से होने वाली किसी भी क्षति या हानि के लिए कोई जिम्मेदारी या दायित्व स्वीकार नहीं करता है। हालाँकि, यदि त्रुटियाँ/चूक हमारे ध्यान में लाई जाती हैं तो हम उन्हें सुधारने के लिए बाध्य होंगे।
      </p>
      <p>
      यह संभावना है कि वेबसाइट में अपडेट करने से पहले टेलीफोन नंबर, किसी पद पर आसीन अधिकारी का नाम आदि जैसे विवरण बदल सकते हैं। इसलिए, राष्ट्रीय पवन ऊर्जा संस्थान (NIWE) इस वेबसाइट में दी गई सामग्री की पूर्णता, सटीकता या उपयोगिता पर कोई कानूनी दायित्व नहीं लेता है। हमारे सर्वोत्तम प्रयासों के बावजूद, राष्ट्रीय पवन ऊर्जा संस्थान (NIWE) यह वारंटी नहीं देता है कि इस साइट में मौजूद दस्तावेज़ कंप्यूटर वायरस के संक्रमण से मुक्त हैं। </p>
      <p>
      साइट पर कुछ लिंक अन्य पक्षों द्वारा बनाए गए सर्वर पर स्थित संसाधनों तक ले जा सकते हैं, जिन पर हमारा कोई नियंत्रण नहीं है। हम इन सर्वरों पर मौजूद किसी भी सामग्री के लिए कोई जिम्मेदारी या दायित्व स्वीकार नहीं करते हैं
      </p>
  </div>
</section>

{% include 'hi_footer.html' %}
