{% include 'hi_header.html' %}
<section class="head-div">
<div class="overlay d-flex align-items-center">
<div class="container">
<h1 class="text-white">ईवेंट</h1>
</div>
</div>
</section>

<div class="container">
<nav aria-label="breadcrumb"> 
<ol class="breadcrumb bg-transparent p-0">
<li class="breadcrumb-item">
<a href="{% url 'hindi_index' %}">होम</a>
</li>
<li class="breadcrumb-item active" aria-current="page">ईवेंट</li>
</ol>
</nav>
</div>

<section class="dgm-div" id="div-content">
<div class="container">
<h1>घटनाएँ</h1>

<li>
<b>
<a href="#">

कार्यालय आदेश संख्या 171/2023
दिनांक 10.10.2023 के अनुसार सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प मांगे गए।
</b>
</a>
</li>

<li>
<b>
<a href="#">

कार्यालय आदेश संख्या 171/2023
दिनांक 10.10.2023 के अनुसार सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प मांगे गए।
</b>
</a>
</li>
<li>
<b>
<a href="#">

कार्यालय आदेश संख्या 171/2023
दिनांक 10.10.2023 के तहत सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प मांगे गए।
</b>
</a>
</li>

<li>
<b>
<a href="#">

कार्यालय आदेश संख्या 171/2023
दिनांक 10.10.2023 के तहत सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प मांगे गए।
</b>
</a>
</li>

<li>
<b>
<a href="#">
कार्यालय आदेश संख्या 171/2023
दिनांक 10.10.2023 के अनुसार सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प मांगे गए हैं।
</b>
</a>
</li>
</div>
</section>

{% include 'hi_footer.html' %}