{% load static %} {% include 'hi_header.html' %}
<!-- slider start -->

<section class="container-fluid p-0 m-0 ">
  <div class="row">
    <div class="col-md-12 col-12 p-0 m-0">
      <div
        id="carouselExampleControls"
        class="carousel slide "
        data-bs-ride="carousel"
      >
        <div class="carousel-inner text-center w-100" >
          <div class="carousel-item active">
            <img
              src="{% static '/images/slider/img1.jpg' %}" 
              class="d-block "
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static  '/images/slider/img02.jpg' %}"
              class="d-block "
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static '/images/slider/img03.jpg' %}"
              class="d-block "
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static '/images/slider/img10.jpg' %}"
              class="d-block "
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<section width="100%" id="divContent">
  <div class="news">
    <div class="news-side-div">
      <h3>हाइलाइट्स</h3>
    </div>

    <div class="running-news">
      <marquee width="100%" direction="left" behavior="scroll" class="pt-2">
        <a href="#">
          <span class="blink_me"
            ><img src="{% static '/images/new.png' %}" alt="latest-update"
          /></span>
          इरेडा द्वारा वित्तपोषित नवीकरणीय ऊर्जा परियोजनाओं की निगरानी के लिए ऋणदाता के वित्तीय सलाहकार (एलएफए) का पैनल तैयार करना</a
        >
        <a href="#">
          <span class="blink_me"
            ><img src="{% static '/images/new.png' %}" alt="latest-update"
          /></span>
          नवीनतम समाचारों और ऑफ़र के साथ अपडेट रहें।</a
        >
        <a href="#">
          <span class="blink_me"
            ><img src="{% static '/images/new.png' %}" alt="latest-update"
          /></span>
          आईआरईडीए ने 13वें पीएसई उत्कृष्टता पुरस्कार में पांच पुरस्कार जीते</a
        >
        <a href="#">
          <span class="blink_me"
            ><img src="{% static '/images/new.png' %}" alt="latest-update"
          /></span>
          नवीनतम समाचारों और ऑफ़र के साथ अपडेट रहें</a
        >
        <a href="#">
          <span class="blink_me"
            ><img src="{% static '/images/new.png' %}" alt="latest-update"
          /></span>
          नवीनतम समाचारों और ऑफ़र के साथ अपडेट रहें</a
        >
      </marquee>
    </div>
  </div>
</section>

<!-- about section start -->

<section class="about-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-12" >
        <div class="about-section pt-4">
          <h2><span style="color: #00899a">निदेशक </span> का संदेश</h2>
          <div class="line"></div>

          {% for data in dgm %}
          <div class="row" > 
            <div class="col-md-4 col-12">
              <div class="director-img">
                {% if data.Dirs_image %}
                <img src="{{data.Dirs_image.url}}" class="pb-1" alt="dgm_img" />

                {% else %}

                <img src="media/images/men.png" class="pb-1" alt="dgm" />
                {% endif %}
                <h4 class="text-center">डॉ। राजेश कत्याल</h4>
                <h6 class="text-center">महानिदेशक</h6>
              </div>
            </div>
            <div class="col-md-8 col-12"  id="divContent">
              <p>{{data.description|striptags}}</p>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-12 p-3 mt-4" id="divContent">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              नया क्या है
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link mx-1" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              एमएनआरई में नया
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
              घटनाक्रम
            </button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent" id="divContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="tab-cnt-div">
              <ul class="itme-lists">
                <li><b><a href="assets/Docu/tender/Tender_Internet_connectivity.pdf" target="_blank"> "इंटरनेट कनेक्टिविटी - 100" के लिए निविदा 03.10.2024 को अपराह्न 03.00 बजे जमा करनी होगी तथा 03.10.2024 को अपराह्न 03.30 बजे खुलेगी </a></b></li>                <li><b><a href="assets/Docu/tender/Tender_WAF.pdf" target="_blank"> Tender for "Web Application Firewall (V2) (Q3)" due at 03.00 PM on 03.10.2024 opening at 03.30 PM on 03.10.2024 </a></b></li>
                <li><b><a href="assets/Docu/tender/Tender_Plain_Copier_Paper(V2).pdf" target="_blank"> "आईएस 14490 (Q4) के अनुसार प्लेन कॉपियर पेपर (V2), गिफ्ट पेन (Q4)" के लिए निविदा 01.10.2024 को दोपहर 01.00 बजे तक जमा करनी होगी तथा 01.10.2024 को दोपहर 01.30 बजे खुलेगी</a></b></li>              </ul>
              <div class="view-more">
                <a class="btn btn-view text-white"  href="{% url 'hi_whatsNew_updates' %}">और देखें</a>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="tab-cnt-div">
              <ul class="itme-lists">
                <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2024/08/202408021360620385.pdf" target="_blank">एसएसएस-एनआईबीई में वैज्ञानिक-एफ रिक्तियों के लिए विज्ञापन</a></b></li>                <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2024/05/202405091646108351.pdf" target="_blank">Joint MTech Program in Renewable Energy (NIT Jalandhar and SSS-NIBE, Kapurthala), Admissions Open for 2024 </a></b></li>
                <li><b><a href="assets/Docu/Circular draft tender document.pdf" target="_blank">अपतटीय पवन ऊर्जा परियोजनाओं के लिए समुद्र तल पट्टे के लिए मसौदा निविदा दस्तावेज़</a></b></li>          
                      <li><b><a href="assets/Docu/NABL_certificate_of_accreditation_2022-24.pdf" target="_blank">मान्यता प्रमाणपत्र </a></b></li>
              </ul>
              <div class="view-more">
                <a class="btn btn-view text-white" href="{% url 'hi_mnreNew_updates' %}">और देखें</a>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="tab-cnt-div">
              <ul class="itme-lists">
                <li><b><a href="#">कार्यालय आदेश संख्या 171/2023 दिनांक 10.10.2023 के तहत सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प आमंत्रित किए जाने के संबंध में।</a></b></li>
                <li><b><a href="#">कार्यालय आदेश संख्या 171/2023 दिनांक 10.10.2023 के तहत सहायक आयुक्त के ग्रेड में ग्रुप बी अधिकारियों की पोस्टिंग के लिए विकल्प आमंत्रित किए जाने के संबंध में।</a></b></li>
                </ul>
              <div class="view-more">
                <a class="btn btn-view text-white" href="{% url 'hi_evnts_update' %}">और देखें</a>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Manuals section -->
<section class="container-fluid bg-light text-center mt-2" id="divContent">
  <div class="container pt-4 pb-4" id="divContent">
    <div class="row">
      <!-- Panel 1: Manuals -->
      <div class="col-lg-4 col-md-6 col-12">
        <button              
          class="faq__question"
          onclick="toggleAnswer('panel1')"
          aria-expanded="false"
          aria-controls="panel1"
        >

        अनुसंधान और विकास (आर एंड डी)
        </button>
        <div class="faq__panel d-none" id="panel1">
          <p class="faq__answer">
            आरएंडडी पवन ऊर्जा प्रणालियों में विश्व स्तरीय, विश्वसनीय और लागत प्रभावी प्रौद्योगिकी प्राप्त करने के लिए समयबद्ध और मिशन उन्मुख अनुसंधान और विकास कार्यक्रमों का समर्थन करता है। आरडीएएफ पवन और सौर संसाधन माप से प्राप्त बड़े डेटा का विश्लेषण करने के लिए उद्योग का समर्थन करता है। <a href="{% url 'r&d' %}">और देखें...</a>
          </p>
        </div>
      </div>

      <!-- Panel 2: Transfer & Posting -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel2')"
          aria-expanded="false"
          aria-controls="panel2"
        >
        प्रमाणन एवं सूचना प्रौद्योगिकी
        </button>
        <div class="faq__panel d-none" id="panel2">
          <p class="faq__answer">
            यह प्रभाग IS/IEC 61400-22 के आधार पर पवन टर्बाइनों का प्रकार प्रमाणन करता है, तथा सूचना के प्रभावी प्रसार के लिए आवश्यक आईटी अवसंरचना के निर्माण में भी शामिल है।

            <a href="{% url 'certificate' %}">और देखें...</a>
          </p>
        </div>
      </div>

      <!-- Panel 3: Welfare Schemes -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel3')"
          aria-expanded="false"
          aria-controls="panel3"
        >
        परीक्षण, मानक और विनियमन (एस&आर)
        </button>
        <div class="faq__panel d-none" id="panel3">
          <p class="faq__answer">
            यह प्रभाग पवन ऊर्जा क्षेत्र के स्वस्थ और व्यवस्थित विकास के लिए विभिन्न सेवाएँ प्रदान करता है जैसे: पवन ऊर्जा क्षेत्र में मानकीकरण कार्य, पवन टर्बाइनों के प्रोटोटाइप के ग्रिड सिंक्रोनाइजेशन के लिए सुविधा प्रदान करना और पवन टर्बाइनों के मॉडलों और निर्माताओं की संशोधित सूची (आरएलएमएम) के कार्यान्वयन के लिए एमएनआरई को तकनीकी सहायता प्रदान करना। <a href="{% url 's&d' %}">और देखें..</a>
          </p>
        </div>
      </div>

      <!-- Panel 4: Suggestions -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel4')"
          aria-expanded="false"
          aria-controls="panel4"
        >
        पवन संसाधन मूल्यांकन
        </button>
        <div class="faq__panel d-none" id="panel4">
          <p class="faq__answer">
            एनआईडब्ल्यूई द्वारा दी जाने वाली परीक्षण सेवाएँ आईएसओ/आईईसी 17025 की आवश्यकता के अनुसार राष्ट्रीय परीक्षण एवं अंशांकन प्रयोगशाला बोर्ड (एनएबीएल) द्वारा मान्यता प्राप्त हैं। यह प्रभाग पावर प्रदर्शन माप, सुरक्षा और कार्य परीक्षण, लोड माप आदि जैसी सेवाएँ प्रदान करता है। <a href="{% url 'wra' %}">और देखें..</a>
          </p>
        </div>
      </div>

      <!-- Panel 5: Civil List -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel5')"
          aria-expanded="false"
          aria-controls="panel5"
        >
        अपतटीय पवन विकास
        </button>
        <div class="faq__panel d-none" id="panel5">
          <p class="faq__answer">
            यह प्रभाग पवन संसाधन सूक्ष्म सर्वेक्षण करके देश में संसाधन समृद्ध क्षेत्रों की पहचान करता है और पवन फार्म डेवलपर्स को अपनी सेवाएँ प्रदान करता है। देश के लिए पवन मानचित्र तैयार करने के लिए यह पवन संसाधनों का आकलन और विश्लेषण करता है।
            <a href="{% url 'owd' %}">और देखें..</a>
          </p>
        </div>
      </div>

      <!-- Panel 6: Ongoing/Upcoming Infrastructure Projects -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel6')"
          aria-expanded="false"
          aria-controls="panel6"
        >
        कौशल विकास एवं प्रशिक्षण
        </button>
        <div class="faq__panel d-none" id="panel6">
          <p class="faq__answer">
            पवन ऊर्जा से संबंधित सूचनाओं को एकत्रित, संयोजित और विश्लेषित करके बेहतरीन सूचना केंद्र के रूप में कार्य करना। हितधारकों के लाभ के लिए नियमित रूप से राष्ट्रीय और अंतर्राष्ट्रीय प्रशिक्षण कार्यशालाएँ आयोजित की जा रही हैं।
            <a href="{% url 'sdt' %}">और देखें..</a>
          </p>
        </div>
      </div>

      <!-- Panel 7: Missing APAR/IPR -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel7')"
          aria-expanded="false"
          aria-controls="panel7"
        >
        एपीएआर/आईपीआर गुम
        </button>
        <div class="faq__panel d-none" id="panel7">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>

      <!-- Panel 8: Half Yearly Brochure -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel8')"
          aria-expanded="false"
          aria-controls="panel8"
        >
        अर्धवार्षिक विवरणिका
        </button>
        <div class="faq__panel d-none" id="panel8">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>

      <!-- Panel 9: वार्षिक वाहन रिपोर्ट -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel9')"
          aria-expanded="false"
          aria-controls="panel9"
        >
          वार्षिक वाहन रिपोर्ट
        </button>
        <div class="faq__panel d-none" id="panel9">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>

      <!-- Panel 10: वार्षिक वाहन रिपोर्ट (Duplicate, consider unique content) -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel10')"
          aria-expanded="false"
          aria-controls="panel10"
        >
          वार्षिक वाहन रिपोर्ट
        </button>
        <div class="faq__panel d-none" id="panel10">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>

      <!-- Panel 11: वार्षिक वाहन रिपोर्ट (Duplicate, consider unique content) -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel11')"
          aria-expanded="false"
          aria-controls="panel11"
        >
          वार्षिक वाहन रिपोर्ट
        </button>
        <div class="faq__panel d-none" id="panel11">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>

      <!-- Panel 12: वार्षिक वाहन रिपोर्ट (Duplicate, consider unique content) -->
      <div class="col-lg-4 col-md-6 col-12">
        <button
          class="faq__question"
          onclick="toggleAnswer('panel12')"
          aria-expanded="false"
          aria-controls="panel12"
        >
          वार्षिक वाहन रिपोर्ट
        </button>
        <div class="faq__panel d-none" id="panel12">
          <p class="faq__answer">आपका उत्तर यहाँ है</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="gallery">
      <div class="row align-items-center col-12 mx-auto">
          <div class="col-md-4 col-12">
              <div class="content">
                  <h4>हमारी गैलरी</h4>
                  <h1>हमारी फ़ोटो और वीडियो गैलरी देखें</h1>
                  <a href="{% url 'hi_gallery' %}">
                    <button class="view-btn mt-3">सभी देखें</button></a
                  >
              </div>

          </div>
          <div class="col-md-8 col-12">
              <div class="gallery-slider ">
                  <div class="carousel-wrap">
                      <div class="owl-carousel index-gallery">
                          <div class="item">
                              <div class="card">
                                  <img src="/static/images/img1725.jpg" class=""  alt="gallery" />
                              </div>
                          </div>
                          <div class="item">
                            <div class="card">
                                <img src="/static/images/img1725.jpg" class=""  alt="gallery" />
                            </div>
                        </div>
                        <div class="item">
                          <div class="card">
                              <img src="/static/images/img1725.jpg" class=""  alt="gallery" />
                          </div>
                      </div>

                      </div>
                  </div>  
              </div>
          </div>
      </div>
  </div>
</section>
<!-- footer -->

{% include 'hi_footer.html' %}
