{% include 'hi_header.html' %} {% load static %}

<!-- nav end -->

<section class="head-div">
<div class="overlay d-flex align-items-center">
<div class="container">
<h1 class="text-white">
{% for national in subIreda %} {{national.title|safe}} {% endfor %}

</h1>
</div>
</div>
</section>

<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-transparent p-0">
<li class="breadcrumb-item">
<a href="{% url 'hindi_index' %}">होम</a>
</li>
<li class="breadcrumb-item">
<a href="{% url 'departments' %}">विभाग</a>
</li>
<li class="breadcrumb-item">
<a href="{% url 'sdt' %}">कौशल विकास और प्रशिक्षण</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
{% for national in subIreda %} {{national.title|safe}} {% endfor %}
</li>
</ol>
</nav>
</div>

<section class="dgm-div" id="divContent">
<div class="container">
<div class="row">
<div class="col-12">
<div class="">
{% for national in subIreda %} {{national.description|safe}} {% endfor %}
</div>
</div>
</div>
</div>
</section>

<!-- फ़ुटर -->

{% include 'hi_footer.html' %}