{% include 'hi_header.html' %} {% load static %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">IREDA-NIWE Annual Awards for Wind Energy 2022</h1>
    </div>
  </div>
</section>

<section class="main-div py-5 header" id="divContent">
  <div class="container py-1">
    <div class="row col-12 mx-auto">
      <div class="col-lg-8 mt-4 order-lg-1 order-2">
        <div class="tab-content" id="v-pills-tabContent">
          <!--left side tab content-area -->

          <div
            class="tab-pane fade rounded bg-white show active"
            id="wind-energy"
            role="tabpanel"
            aria-labelledby="wind-energy"
          >
            <!--SESI awards row-->
            <div class="row col-12 mx-auto px-0">
              <div class="col-md-12 px-0">
                <div class="grd-box">
                  <div class="head1">
                    <h4>IREDA-NIWE Annual Awards for Wind Energy 2022</h4>
                  </div>
                  <div class="mt-4">
                    <p>
                      The fifth edition of the IREDA-NIWE Annual Awards for Wind
                      Energy 2022 to promote innovation, research & development,
                      manufacturing, developing & harnessing Wind Energy at the
                      State and National levels and to motivate individuals,
                      stakeholder to strive for the best in the field has been
                      announced for the following three broad categories:
                    </p>
                    <ol type="I" class="event-list">
                      <li>
                        IREDA-NIWE Award for the Best Performing Wind Farm
                        Developer for the Year
                      </li>
                      <li>
                        IREDA-NIWE Award for the Best Institution of Higher
                        Learning in Wind Energy and
                      </li>
                      <li>IREDA-NIWE Award for the Best Research Work</li>
                    </ol>
                    <p>
                      Call for nominations for each category were uploaded in
                      NIWE / IREDA / MNRE websites and advertised through
                      national daily Newspapers, and through groups & mass
                      communications. In response to the announcement, NIWE has
                      received nominations. <br />
                      The nominations are as below.
                    </p>
                    <ol type="1">
                      <li>
                        Best Performing Wind Farm Developer of the Year -<strong
                          >01</strong
                        >
                      </li>
                      <li>
                        Best Institution of Higher Learning in Wind Energy -
                        <strong> 03 Nos.</strong>
                      </li>
                      <li>
                        Best Research Work in Wind Energy -
                        <strong>12 Nos.</strong>
                      </li>
                    </ol>

                    <p>
                      The selection of the awardees for all the three categories
                      was done through an eminent Jury Committee comprising of
                      Senior Members from Government Organizations, Academic
                      Institutions, Media and Financial Sectors. The Jury
                      Committee adopted the notified criteria and recommended
                      the nominations for each of the category to be awarded for
                      the year from amongst the nominations received, segregated
                      under the various categories. The Awardees were informed
                      of their selection and invited to attend the Award
                      Ceremony of the IREDA-NIWE Annual Awards for Wind Energy
                      2022, scheduled during the Global Wind Day 2022 and Silver
                      Jubilee celebration of NIWE on 15th June 2022, to receive
                      the Award.
                      <br />
                      <br />
                      The Award Ceremony was held on 15.06.2022 in the
                      Auditorium, Atal Akshay Urja Bhawan, Lodi Road, New Delhi
                      and inaugurated by the Hon'ble Shri. R. K. Singh, Union
                      Minister for Power and New and Renewable Energy. Shri. R.
                      K. Singh delivered the keynote address and congratulated
                      the wind fraternity for their achievement. He appreciated
                      the role of NIWE in the development of wind energy sector.
                      Shri. Singh awarded the prizes carrying a citation and a
                      cash award of Rs.1.00 lakh to the following three
                      categories of winners of IREDA-NIWE Annual Award for Wind
                      Energy - 2022. Shri. Indu Shekhar Chaturvedi, Secretary,
                      MNRE, Shri Dinesh Jagdale, Joint Secretary, MNRE and Dr.
                      K. Balaraman, Director General, NIWE were present in the
                      ceremony. Dr. P. Kanagavel, Director and Head, Skill
                      Development Division, NIWE, Convener of IREDA-NIWE Annual
                      Award for Wind Energy has coordinated the programme.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-12 row mx-auto mt-5">
                <div
                  class="col-lg-8 col-md-10 col-sm-10 mx-auto text-center px-0 img-style"
                >
                  <img
                    src="{% static '/images/wind-award/wind-award-1.jpg' %}"
                    class="w-100 mx-auto"
                    alt=""
                  />
                  <h6 class="mt-2">
                    Hon'ble Union Minister Shri. R. K. Singh inaugurating the
                    Ceremony
                  </h6>
                </div>
              </div>

              <div class="col-12 row mx-auto mt-5">
                <div
                  class="col-lg-8 col-md-10 col-sm-10 mx-auto text-center px-0 img-style"
                >
                  <img
                    src="{% static '/images/wind-award/wind-award-2.jpg' %}"
                    class="w-100 mx-auto"
                    alt=""
                  />
                  <h6 class="mt-2">
                    Union Minister delivering Keynote Address
                  </h6>
                </div>
              </div>

              <div class="head1 mt-5">
                <h4>
                  The best performing Wind Farm Developer of the year 2022
                </h4>
              </div>

              <div class="col-12 row mx-auto text-center">
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-3.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-4.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>

                <h6 class="mt-2">
                  Officials of M/s. Renew Power Private Limited receiving the
                  Award
                </h6>
              </div>

              <p>
                The Award Best performing Wind Farm Developer for the year 2022
                was conferred to M/s . Renew Power Private Limited, Gurugram,
                Haryana.
              </p>

              <div class="head1 mt-3">
                <h4>Best Research Work in Wind Energy for the year 2022</h4>
              </div>

              <div class="col-12 row mx-auto">
                <h6>
                  The award for the year 2022 is shared by two researchers
                </h6>
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-5.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-6.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>

                <h6 class="mt-2 text-center">
                  Dr. Suresh H. Jangamshetti receiving the Award
                </h6>
                <p>
                  The first researcher is Dr. Suresh H Jangamshetti, Professor &
                  Head, Basaveshwar Engineering College, Bagalkote, Karnataka,
                  for his work on Short term wind forecasting model for planning
                  of wind plants and scheduling power.
                </p>
              </div>

              <div class="col-12 row mx-auto text-center">
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-7.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-8.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>

                <h6 class="mt-2 text-center">
                  Mr. Neeraj Verma receiving the Award
                </h6>
                <p>
                  The second researcher is Mr. Neeraj Verma, Ph.D student,
                  Sardar Vallabhai National Institute of Technology, Surat,
                  Gujarat for his work on Aerodynamic design optimization of
                  Horizontal Axis Wind turbine having multiple aerofoil with
                  chord based Reynolds number consideration.
                </p>
              </div>

              <div class="col-12 row mx-auto text-center">
                <div
                  class="col-lg-8 col-md-10 col-sm-10 mx-auto mt-3 px-0 img-style"
                >
                  <div class="card p-2 border-0">
                    <img
                      src="{% static '/images/wind-award/wind-award-9.jpg' %}"
                      class="w-100 mx-auto"
                      alt=""
                    />
                  </div>
                </div>
                <h6 class="mt-2 text-center">
                  Award Winners, industrial guests, officials of MNRE and NIWE
                  during Award Ceremony
                </h6>
              </div>
            </div>
            <!--div close for row-->
          </div>
          <!--div close for tab-pane-->
        </div>
        <!--div close for tab content-->
      </div>
      <!--div close for col-md-9-->
      <div class="col-lg-4 mt-4 order-lg-2 order-1">
        {% include 'side-tab.html' %}
      </div>
      <!--div close for col-md-3-->
    </div>
  </div>
</section>

<!-- footer -->

{% include 'hi_footer.html' %}
