{% include 'hi_header.html' %}
<section class="head-div">
<div class="overlay d-flex align-items-center">
<div class="container">
<h1 class="text-white">एमएनआरई में नया</h1>
</div>
</div>
</section>

<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-transparent p-0">
<li class="breadcrumb-item">
<a href="{% url 'hindi_index' %}">होम</a>
</li>
<li class="breadcrumb-item active" aria-current="page">एमएनआरई में नया</li>
</ol>
</nav>
</div>

<section class="dgm-div" id="div-content">
<div class="container">
<h1>एमएनआरई में नया</h1>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122768-2.pdf" target="_blank">पवन टरबाइन मॉडल और निर्माताओं की संशोधित सूची (13.06.2022 तक)</a></b></li>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122737.pdf" target="_blank">पावर और नवीकरणीय ऊर्जा क्षेत्र के लिए पायलट आधार पर विनिर्माण क्षेत्र स्थापित करने के लिए रुचि की अभिव्यक्ति (ईओआई) में भागीदारी</a></b></li>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122768-1.pdf" target="_blank">पवन टरबाइन मॉडल और निर्माताओं की संशोधित सूची (दिनांक 20.05.2018 तक) 05.05.2022)</a></b></li>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122730-1.pdf" target="_blank">बायोगैस संयंत्र स्थापना को MGNREGA अधिनियम 2005 के अंतर्गत सूचीबद्ध किया गया है।</a></b></li>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122783.pdf" target="_blank">पवन टरबाइन मॉडल और निर्माताओं की संशोधित सूची (05.04.2022 तक)</a></b></li>
<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122777.pdf" target="_blank">सौर फोटोवोल्टिक मॉड्यूल के स्वीकृत मॉडल और निर्माता (अनिवार्य पंजीकरण के लिए आवश्यकताएँ) आदेश, 2019: संशोधन।</a></b></li>
<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122790.pdf" target="_blank">अद्यतित (04.03.2022) सौर पीवी मॉड्यूल के लिए एएलएमएम आदेश के तहत सूची-I</a></b></li>
<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122733.pdf" target="_blank">पवन ऊर्जा परियोजनाओं की अनुसूचित कमीशनिंग तिथि में समय-विस्तार, कोविड के बाद आपूर्ति श्रृंखला और अन्य व्यवधानों के कारण व्यवधान को ध्यान में रखते हुए मानसून से संबंधित व्यवधान।</a></b></li>

<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122730.pdf" target="_blank">जीईसी चरण II के लिए प्रशासनिक अनुमोदन और योजना दिशानिर्देश</a></b></li>
<li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122724-1.pdf" target="_blank">'जीईसी चरण II के लिए प्रशासनिक अनुमोदन और योजना दिशानिर्देश' में संशोधन ग्रिड से जुड़ी विन्फ सोलर हाइब्रिड परियोजनाओं से बिजली की खरीद के लिए टैरिफ आधारित प्रतिस्पर्धी बोली प्रक्रिया’ दिनांक 14.10.2020 को जारी की गई और 23.07.2021 को संशोधित की गई</a></b></li>

</div>
</section>

{% include 'hi_footer.html' %}