{% include 'hi_header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">सेवाएं</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'hindi_index' %}">होम </a></li>
      <li class="breadcrumb-item active" aria-current="page">सेवाएं</li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="accordion" id="serivces">
      <div class="accordion-item">
        <h2 class="accordion-header" id="serviceOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" 
          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
          जनरल
          </button>
        </h2>
        <div  id="collapseOne"  class="accordion-collapse collapse show"  
        aria-labelledby="serviceOne"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <p>
              एनआईडब्ल्यूई पवन ऊर्जा क्षेत्र के सभी हितधारकों को अंतर्राष्ट्रीय गुणवत्ता के लिए विश्वसनीय, त्वरित और पूर्ण समाधान प्रदान करके ग्राहक संतुष्टि, वफादारी और विश्वास हासिल करने के लिए प्रतिबद्ध है।
            </p>

            <p>
              एनआईडब्ल्यूई वर्तमान और भविष्य के लिए उत्कृष्टता का तकनीकी केंद्र बिंदु बनने का प्रयास करता है और एनआईडब्ल्यूई अपनी विशेषज्ञता में निरंतर सुधार करके पवन टरबाइन प्रौद्योगिकी अनुप्रयोग में सबसे आगे रहेगा।
            </p>

            <p>
              एनआईडब्ल्यूई उच्च गुणवत्ता और समर्पण की ज्ञान-आधारित संस्था है, जो पवन ऊर्जा क्षेत्र के संपूर्ण स्पेक्ट्रम में सभी हितधारकों के लिए सेवाएं प्रदान करती है और संपूर्ण समाधान खोजने का प्रयास करती है।
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesTwo">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseTwo"  aria-expanded="false"  aria-controls="collapseTwo">
            अनुसंधान एवं विकास
          </button>
        </h2>
        <div  id="collapseTwo"  class="accordion-collapse collapse"  
        aria-labelledby="serivcesTwo"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>पवन ऊर्जा पर बहु-संस्थागत अनुसंधान को समर्थन प्रदान करना</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="serivcesThree">
          <button  class="accordion-button collapsed"  type="button" 
           data-bs-toggle="collapse"  data-bs-target="#collapseThree"  
           aria-expanded="false"  aria-controls="collapseThree">
           प्रमाणन और सूचना प्रौद्योगिकी
          </button>
        </h2>
        <div  id="collapseThree"  class="accordion-collapse collapse"  aria-labelledby="serivcesThree"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>
                आईएस/आईईसी 61400-22 के आधार पर पवन टर्बाइनों का प्रकार प्रमाणन
                </li>
                <li>पवन टर्बाइन और उसके घटकों का निरीक्षण</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="servicesFour">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseFour"  aria-expanded="false"  aria-controls="collapseFour">
            परीक्षण एवं मानक एवं विनियमन
          </button>
        </h2>
        <div  id="collapseFour"  class="accordion-collapse collapse"  aria-labelledby="servicesFour"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <p>
              निम्नलिखित के लिए अंतर्राष्ट्रीय स्तर पर स्वीकृत प्रक्रियाओं और शर्तों के अनुसार:
              </p>
              <ul>
              <li>पावर प्रदर्शन माप</li>
              <li>लोड माप</li>
              <li>सुरक्षा और कार्य परीक्षण</li>
              <li>यॉ दक्षता परीक्षण</li>
              <li>उपयोगकर्ता परिभाषित माप</li>
              <li>
              सेवाएँ पवन टर्बाइनों के प्रकार या आकार तक सीमित नहीं हैं
              </li>
              <li>
              सेवाएँ ISO
              9001:2015 की आवश्यकताओं के अनुसार प्रमाणित हैं और ISO/IEC
              17025:2005 की आवश्यकताओं के अनुसार मान्यता प्राप्त हैं
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="servicesFive">
          <button  class="accordion-button collapsed"  type="button"  data-bs-toggle="collapse"  data-bs-target="#collapseFive"  aria-expanded="false"  aria-controls="collapseFive">
            पवन संसाधन मूल्यांकन
          </button>
        </h2>
        <div  id="collapseFive"  class="accordion-collapse collapse"  aria-labelledby="servicesFive"  data-bs-parent="#serivces">
          <div class="accordion-body">
            <ul>
              <li>
                आईएस/आईईसी 61400-22 के आधार पर पवन टर्बाइनों का प्रकार प्रमाणन
                </li>
                <li>पवन टर्बाइन और उसके घटकों का निरीक्षण</li>
                <li>
                मानकीकृत पवन मापन प्रणाली विन्यास - तटवर्ती और अपतटीय
                </li>
                <li>रिमोट सेंसिंग डिवाइस आधारित मापन</li>
                <li>एकीकृत पवन और सौर मापन</li>
                <li>
                पवन निगरानी स्टेशनों की स्थापना, डेटा संग्रह और
                विश्लेषण।
                </li>
                <li>पवन मापन कार्यक्रम के लिए साइट का चयन।</li>
                <li>
                पहचानी गई साइटों पर पवन मापन (दीर्घकालिक 1 से 3
                वर्ष), डेटा का विश्लेषण और रिपोर्ट प्रस्तुत करें।
                </li>
                <li>
                संबद्ध पवन/सौर संसाधन डेटा विश्लेषण सेवाएँ जैसे, डेटा
                सफाई, डेटा का पूर्व/पश्चात प्रसंस्करण, डेटा प्रबंधन प्रणाली
                ग्राहक की आवश्यकता के अनुसार अनुकूलित डैशबोर्ड के साथ।
                </li>
                
                ग्राहक की आवश्यकता के अनुसार अन्वेषणात्मक डेटा विश्लेषण और रिपोर्ट तैयार करना
                
                </li>
                
                <li>
                
                पवन/सौर ऊर्जा परिचालन पूर्वानुमान प्रणाली, जिससे 7 दिन पहले तक पवन/सौर ऊर्जा का पूर्वानुमान लगाया जा सके।
                
                CERC मानदंडों के अनुसार
                
                अंतरादि संशोधन का प्रावधान।
                
                </li>
                
                <p>निम्नलिखित के लिए संपूर्ण समाधान प्रदान करना:-</p>
                
                <li>
                
                पवन फार्म परियोजनाओं की स्थापना के लिए
                
                परियोजना प्रबंधन सलाहकार (PMC) सेवाएँ प्रदान करना।
                
                </li>
                
                <li>
                
                पवन फार्म परियोजना के लिए
                
                विस्तृत परियोजना रिपोर्ट (DPR) तैयार करना और इसमें पवन फार्म का लेआउट,
                
                उत्पादन, अनुमान, सिविल इंजीनियरिंग और
                
                विद्युत कार्य का विवरण,
                
                परियोजना कार्यान्वयन योजना और
                
                परियोजना लागत
                
                विश्लेषण शामिल होगा।
                
                </li>
                
                <li>
                
                पवन फार्म परियोजनाओं के लिए पूर्व-संभाव्यता अध्ययन (सूक्ष्म सर्वेक्षण)।
                
                </li>
                <li>माइक्रो-साइटिंग सेवाएँ प्रदान करना</li>
                <li>उचित परिश्रम।</li>
                <li>विस्तृत परियोजना रिपोर्ट की तैयारी और जाँच</li>
                <li>पवन फार्म योजना।</li>
                <li>
                अपनी सभी पवन फार्मिंग परियोजनाओं में (क) साइट मूल्यांकन
                और (ख) उत्पादन अनुमानों की पुष्टि करने में सहायता करना।
                </li>
                <li>निविदा दस्तावेज़ तैयार करना।</li>
                <li>
                पवन ऊर्जा
                टरबाइन/पवन संसाधन और मूल्यांकन के अनुशासन में एक अनुभवी संस्थान के रूप में,
                निविदा दस्तावेज़ कार्य के
                मूल्यांकन में सहायता करना।
                </li>
                <li>अत्याधुनिक उपकरणों का उपयोग करके बड़े पैमाने पर स्कैनिंग</li>
                <li>
                व्यापक संसाधन मूल्यांकन
                कार्यक्रमों को डिजाइन और कार्यान्वित करना
                </li>
                <li>पवन संसाधन से संबंधित अनुप्रयुक्त अनुसंधान का समन्वय करना</li>
                <li>आरई परियोजनाएं</li>
                <li>सौर ईपीसी अनुबंध</li>
                </ul>
                </div>
                </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="serivcesSix">
                <button class="accordion-button Collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                प्रशिक्षण
                </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="serivcesSix" data-bs-parent="#services">
                <div class="accordion-body">
                <p>प्रदान करने में सक्षम</p>
                <ul>
                <li>पवन संसाधन मॉडलिंग तकनीक</li>
                <li>पवन गति सांख्यिकी और ऊर्जा गणना</li>
                <li>पवन फार्मों की सूक्ष्म-साइटिंग और लेआउट</li>
                <li>पवन संसाधन माप</li>
                <li>पवन टरबाइन प्रौद्योगिकी</li>
                <li>मानकों के अनुसार डिजाइन और सुरक्षा आवश्यकताएँ</li>
                <li>O & M अभ्यास</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'hi_footer.html'%} "
