{% include 'hi_header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">निविदाएँ </h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="{% url 'hindi_index' %}">मुख्य पृष्ठ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">निविदाएँ</li>
    </ol>
  </nav>
</div>

<section class="rnd-sec" id="divContent">
  <div class="container">
    <p>
      <a href="/static/pdf/tenders/Notice_for_GeM.pdf">
        <strong class="blink_me text-danger">सूचना :</strong> "सभी विक्रेताओं को सरकारी ई-मार्केट प्लेस (GeM) में पंजीकरण कराना होगा"
        </a>
        </p>
        <p>
        <a href="/static/pdf/tenders/e-procurement_notice.pdf">
        <b
        >महत्वपूर्ण सूचना : "ई-प्रोक्योरमेंट के माध्यम से निविदाओं के प्रसंस्करण के लिए सूचना" - 22.09.2016 से प्रभावी</b
        >
        </a>
        </p>
        <div class="ps-4">
        <ol style="list-style-type: disc">
        <li>
        "टॉवर लैडर (V2) (Q3), लैडर, फायर, एक्सटेंशन, के लिए बोली दस्तावेज़ 7.5 मीटर (रक्षा) (Q3)" 25.04.2024 को 03.00 बजे समाप्त होगा, 25.04.2024 को 03.30 बजे खुलेगा
          <b
            class="blink_me"
            style="
              background-color: red;
              padding: 2px 5px 4px;
              color: #fff;
              border-radius: 4px;
            "
            >नया</b
          >
        </li>
        <li>

          "भौगोलिक सूचना प्रणाली (जीआईएस) सॉफ्टवेयर (V2)
          
          (Q2) (केवल पीएसी) , भौगोलिक सूचना प्रणाली (जीआईएस) सॉफ्टवेयर (V2)
          
          (Q2)" के लिए बोली दस्तावेज 15.03.2024 को सुबह 11.00 बजे जमा करना होगा, 15.03.2024 को सुबह 11.30 बजे खुलेगा
          
          </li>
          
          "स्प्लिट एयर कंडीशनर जिसमें ग्रीन एसी, वॉल माउंट
          
          टाइप शामिल है" के लिए बोली दस्तावेज 11.03.2024 को दोपहर 03.00 बजे जमा करना होगा, 11.03.2024 को दोपहर 03.30 बजे खुलेगा
          
          </li>
          
          "ब्लेड
          
          परीक्षण सुविधा (बड़े ग्रिड से जुड़े पवन टर्बाइन) के लिए विस्तृत परियोजना रिपोर्ट (डीपीआर) की तैयारी" के लिए निविदा 05.03.2024 को शाम 04.30 बजे जमा करना होगा, 05.03.2024 को दोपहर 04.30 बजे खुलेगा
          
          </li>
          
          "ब्लेड
          
          परीक्षण सुविधा (बड़े ग्रिड से जुड़े पवन टर्बाइन) के लिए विस्तृत परियोजना रिपोर्ट (डीपीआर) की तैयारी" के लिए निविदा 05.03.2024 को दोपहर ... 06.03.2024 को 04.30 बजे
          </li>
          <ul class="purchase_order">
          <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
          </ul>
          <li>
          "मल्टीफंक्शन मशीन MFM (Q2)" के लिए बोली दस्तावेज 21.02.2024 को 07.00 बजे तक जमा करना होगा, 21.02.2024 को 07.30 बजे खुलेगा
          </li>
          <li>
          "पावर जनरेटर (DG-सेट) के संचालन और रखरखाव सेवाओं" के लिए बोली दस्तावेज 05.02.2024 को 03.00 बजे तक जमा करना होगा, 05.02.2024 को 03.30 बजे खुलेगा
          </li>

          <ul class="wra-list purchase_order">
            <li>
            <b> शुद्धिपत्र - 01</b>
            </li>
            </ul>
            <li>
            "हाउस कीपिंग मटेरियल" के लिए बोली दस्तावेज 02.02.2024 को शाम 06.00 बजे जमा करना होगा, 02.02.2024 को शाम 06.30 बजे खुलेगा
            </li>
            <ul class="purchase_order">
            <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
            <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
            <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 03</b></li>
            </ul>
            
            <li>
            "अग्निशामक यंत्रों की AMC / CMC - संस्थागत; सूखा
            पाउडर अग्निशामक यंत्र, अग्निशामक यंत्रों की AMC / CMC - संस्थागत; कार्बन डाइऑक्साइड अग्निशामक यंत्र" के लिए बोली दस्तावेज 02.01.2024 को शाम 06.00 बजे तक जमा करना होगा, 02.01.2024 को शाम 06.30 बजे खुलेगा
            </li>
            
            "अग्नि जांच, अग्नि अलार्म, अग्नि
            हाइड्रेंट और स्प्रिंकलर सिस्टम की AMC / CMC" के लिए बोली दस्तावेज 28.12.2023 को सुबह 11.00 बजे तक जमा करना होगा, 28.12.2023 को सुबह 11.30 बजे खुलेगा
            </li>
            <li>

              "पावर जनरेटर (डीजी-सेट) के संचालन और रखरखाव सेवाओं" के लिए बोली दस्तावेज 02.01.2024 को दोपहर 01.00 बजे जमा करना होगा, 02.01.2024 को दोपहर 01.30 बजे खुलेगा
              
              </li>
              
              <ul class="purchase_order">
              
              <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
              
              <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
              
              </ul>
              
              <li>
              
              सेवाओं के लिए कस्टम बोली - "एनआईडब्ल्यूई चेन्नई में सीसीटीवी निगरानी प्रणाली का पुनरुद्धार" 21.12.2023 को दोपहर 03.00 बजे जमा करना होगा, 03.30 बजे खुलेगा
              
              21.12.2023
              </li>
              <li>
              "100 मीटर मेट मास्ट डिस्मेंटलिंग सिविल फाउंडेशन इरेक्शन
              विभिन्न स्थानों पर संचालन और रखरखाव" के लिए बोली दस्तावेज 29.11.2023 को शाम 04.00 बजे तक जमा करना होगा, 29.11.2023 को शाम 04.30 बजे खुलेगा
              </li>
              <ul class="purchase_order">
              <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
              <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
              </ul>
              <li>

                "पूर्वोत्तर राज्यों और गुजरात, केरल से जाली मस्तूल का विघटन और NIWE कायथर तक परिवहन" के लिए बोली दस्तावेज 25.10.2023 को शाम 05.00 बजे तक जमा करना होगा, 25.10.2023 को शाम 05.30 बजे खुलेगा
                
                </li>
                
                <ul class="purchase_order">
                
                <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
                
                </ul>
                
                <li>
                
                "तापमान और दबाव सेंसर के साथ डेटा लॉगर की आपूर्ति" के लिए बोली दस्तावेज 04.10.2023 को सुबह 11.00 बजे तक जमा करना होगा, 04.10.2023 को सुबह 11.30 बजे खुलेगा
                
                </li>
                
                <li>
                "आपूर्ति के लिए निविदा" के लिए बोली दस्तावेज, तैनाती से पहले सत्यापन,
                
                मन्नार की खाड़ी में तमिलनाडु तट पर उप क्षेत्र-1 में मौसम विज्ञान और समुद्र विज्ञान सेंसर (लहर, धारा आदि) के साथ अपतटीय LiDAR के साथ एकीकृत फ्लोटिंग बॉय की स्थापना और कमीशनिंग, वारंटी और
                
                व्यापक संचालन और रखरखाव सहित भारत में तमिलनाडु तट पर उप क्षेत्र-1 में एकमुश्त खरीद के आधार पर" 03.10.2023 को शाम 04.30 बजे देय
                
                04.10.2023 को सुबह 04.30 बजे उद्घाटन
                </li>
                <ul class="purchase_order">

                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
                  
                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
                  
                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 03</b></li>
                  
                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 04</b></li>
                  
                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 05</b></li>
                  
                  <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 06</b></li>
                  
                  </ul>
                  
                  <li>
                  "भारत में तमिलनाडु तट पर मन्नार की खाड़ी के उप क्षेत्र-1 में लीज के आधार पर अपतटीय LiDAR, मौसम विज्ञान और समुद्र विज्ञान सेंसर (लहर, धारा आदि) के साथ एकीकृत फ्लोटिंग बॉय तैनात करके कम से कम एक वर्ष की निरंतर अवधि के लिए मौसम विज्ञान और समुद्र विज्ञान डेटा (RAW और पोस्ट-प्रोसेस्ड) को मापने और प्रदान करने के लिए निविदा" के लिए बोली दस्तावेज, व्यापक संचालन और रखरखाव सहित 03.10.2023 को शाम 04.30 बजे खुलने वाला है, 04.10.2023 को सुबह 04.30 बजे खुलने वाला है। </li>

                  <ul class="purchase_order">

                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
                    
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
                    
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 03</b></li>
                    
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 04</b></li>
                    
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 05</b></li>
                    
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 06</b></li>
                    
                    </ul>
                    <li>
                    "कैलिब्रेशन सेवाओं" के लिए बोली दस्तावेज 16.08.2023 को दोपहर 01.00 बजे जमा करना है
                    16.08.2023 को दोपहर 01.30 बजे खुलेगा
                    </li>
                    <ul class="purchase_order">
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 01</b></li>
                    <li class="pt-2 pb-2 text-dark"><b> शुद्धिपत्र - 02</b></li>
                    </ul>
                    </ol>
                    </div>
                    <li class="text-dark" style="list-style-type: none">
                    <b>
                    क्रय आदेश - सभी निविदाएं (एकल निविदा और मालिकाना निविदाओं को छोड़कर) ई-प्रकाशन पोर्टल केंद्रीय सार्वजनिक खरीद पोर्टल (CPPP) के माध्यम से प्रकाशित की जा रही हैं
                    </b>
    </li>

    <ul class="text-success purchase_order pb-3">
      <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.11.2022_to_31.11.2022.pdf"
        >01.11.2022 से 31.11.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.10.2022_to_30.10.2022.pdf"
        >
        01.10.2022 से 30.10.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.09.2022_to_31.09.2022.pdf"
        
        >01.09.2022 से 31.09.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.08.2022_to_30.08.2022.pdf"
        
        >01.08.2022 से 30.08.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.07.2022_to_31.07.2022.pdf"
        >
        01.07.2022 से 31.07.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.06.2022_to_30.06.2022.pdf"
        >
        01.06.2022 से 30.06.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.05.2022_to_31.05.2022.pdf"
        
        >01.05.2022 से 31.05.2022 तक जारी किए गए क्रय आदेशों की सूची</a>
      </li>
      <li>

        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.04.2022_to_30.04.2022.pdf"
        
        >01.04.2022 से 30.04.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        
        >
        </li>
        
        <li>
        
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.04.2021_to_31.03.2022.pdf"
        
        >01.04.2021 से 31.03.2022 तक जारी किए गए क्रय आदेशों की सूची</a
        
        >
        </li>
        
        <li>
        
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.03.2021_to_31.03.2021.pdf"
        
        >01.03.2021 से 31.03.2021 तक जारी क्रय आदेशों की सूची</a
        
        >
        </li>
        <li>
        <a
        href="/static/pdf/tenders/Purchase_order_released_from_01.04.2020_to_28.02.2021.pdf"
        
        >01.04.2020 से 28.02.2021 तक जारी क्रय आदेशों की सूची</a
        
        >
        </li>
        <li>

          <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2019_to_30.10.2019.pdf"
          
          >
          01.04.2019 से 30.10.2019 तक जारी क्रय आदेशों की सूची</a
          
          >
          </li>
          <li>
          <a
          href="/static/pdf/tenders/Purchase_Order_Released_from_01.04.2018_to_31.03.2019.pdf"
          
          >01.04.2018 से 31.03.2019 तक जारी क्रय आदेशों की सूची</a
          
          >
          </li>
          <li>
          <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2017_to_31.03.2018.pdf"
          
          >01.04.2017 से 31.03.2018 तक जारी क्रय आदेशों की सूची</a
          
          >
          </li>
          <li>
          <a
          href="/static/pdf/tenders/Purchase_Order_from_01.04.2016_to_31.03.2017.pdf"
          
          >01.04.2016 से 31.03.2017 तक जारी क्रय आदेशों की सूची</a
          
          >
          </li>
      <li>
        <a
          href="/static/pdf/tenders/List_of_purchase_01.04.2015_to_30.03.2016.pdf"
          >01.04.2015 से 30.03.2016 तक जारी क्रय आदेशों की सूची</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/List_of_purchase_01.04.2014_to_31.03.2015.pdf"
          >01.04.2014 से 31.03.2015 तक जारी क्रय आदेशों की सूची</a
        >
      </li>
      <li>
        <a href="/static/pdf/tenders/List_of_purchase_2013-2014.pdf"
          >01.04.2013 से 31.03.2014 तक जारी क्रय आदेशों की सूची</a
        >
      </li>
    </ul>
  </div>
</section>
<!-- footer -->

{% include 'hi_footer.html' %}
