{% include 'hi_header.html' %}
<section class="head-div">
<div class="overlay d-flex align-items-center">
<div class="container">
<h1 class="text-white">नया क्या है</h1>
</div>
</div>
</section>

<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb bg-transparent p-0">
<li class="breadcrumb-item">
<a href="{% url 'hindi_index' %}">होम</a>
</li>
<li class="breadcrumb-item active" aria-current="page">नया क्या है</li>
</ol>
</nav>
</div>


<section class="dgm-div" id="div-content">
  <div class="container">

    <h1>नया क्या है</h1>
    <li><b><a href="assets/Docu/tender/Tender_Kayathar_Transformer.pdf" target="_blank"> "कायथर में 250 केवीए वितरण ट्रांसफार्मर की मरम्मत और रिवाइंडिंग" के लिए निविदा 30.09.2024 को दोपहर 03.30 बजे समाप्त होगी, 01.10.2024 को दोपहर 03.30 बजे खुलेगी</a></b></li>
    <li><b><a href="assets/Docu/tender/Group_Mediclaim_Insurance_Service.pdf" target="_blank"> "ग्रुप मेडिक्लेम इंश्योरेंस सर्विस - स्थायी कर्मचारी, सेवानिवृत्त / सेवानिवृत्त / पेंशनभोगी; दुर्घटना और आपातकालीन उपचार, घरेलू उपचार, मातृत्व, सभी पूर्व-मौजूदा बीमारी के लिए अस्पताल में भर्ती" के लिए बोली दस्तावेज 24.07.2024 को दोपहर 03.00 बजे समाप्त होगी 24.07.2024 को अपराह्न 03.30 बजे </a></b>
      <ol type = "1"> 
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service.pdf" target="_blank"><b>शुद्धिकरण - 01 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_ATC.pdf" target="_blank"><b>बोली शुद्धिकरण </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_02.docx" target="_blank"><b>शुद्धिकरण - 03 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_03.png" target="_blank"><b>सुधार - 04 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_04.png" target="_blank"><b>सुधार - 05 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_05.png" target="_blank"><b>सुधार - 06 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_06.png" target="_blank"><b>सुधार - 07 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_07.pdf" target="_blank"><b>सुधार - 08 </b></a></li>
      </ol>
    </li>
    <li><b><a href="" target="_blank"> सेवाओं के लिए कस्टम बोली - ओडिशा में 3 स्थानों पर 150 मीटर मेट मस्तूल के लिए डिजाइन निर्माण स्थापना कमीशन और परिवहन 16.07.2024 को शाम 07.00 बजे तक जमा करना होगा और 16.07.2024 को शाम 07.30 बजे खोलना होगा </a></b>      <ol type = "1"> 
      <li><a href='assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha_150.pdf' target='_blank'><b>शुद्धिपत्र - 01 </b></a></li> <li><a href=' संपत्ति/दस्तावेज़/निविदा/कोरिगेंडम_टेंडर_मेटमास्ट_ओडिशा_150.png" लक्ष्य = "_blank"><b>शुद्धिपत्र - 02 </b></a></li> <li><a href='assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha1_150. पीडीएफ" लक्ष्य ="_blank"><b>शुद्धिपत्र - 03 </b></a></li> <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha2_150.png" target="_blank"><b>सुधार - 04 </b></a></li>
      <li><a href="assets/Docu/tender /Corrigendum_Tender_Metmast_Odisha3_150.png" target ="_blank"><b>शुद्धिपत्र - 05 </b></a></li>
      <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha4_150.png" target =" _blank"><b>शुद्धिपत्र - 06 </b></a></li>
      <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha5_150.pdf" target="_blank"><b>सुधार - 07 </b></a></li>
      <li><a href="assets/Docu/tender /Corrigendum_Tender_Metmast_Odisha6_150.png" target ="_blank"><b>शुद्धिपत्र - 08 </b></a><span class ="label">नया</span></li>
      </ol>
  </li>
  <li><b><a href="assets/Docu/tender/Tender_Metmast_Odisha.pdf" target="_blank"> ओडिशा में 2 स्थानों पर 120 मीटर मेट मास्ट के लिए सेवाओं - डिजाइन निर्माण स्थापना कमीशनिंग और परिवहन के लिए कस्टम बोली, 1 वर्ष का ओएम 16.07.2024 को शाम 07.00 बजे देय है, 16.07.2024 को शाम 07.30 बजे खुलेगा</a></b>
    <ol type = "1">
      <li><a href='assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha.pdf' target='_blank'><b>शुद्धिपत्र - 01 </b></a></li>    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha1.png" target="_blank"><b>सुधार - 02 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha2.pdf" target="_blank"><b>सुधार - 03 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha3.png" target="_blank"><b>सुधार - 04 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha4.png" target ="_blank"><b>शुद्धिकरण - 05 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha5.png" target ="_blank"><b>शुद्धिकरण - 06 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha6.pdf" target ="_blank"><b>शुद्धिकरण - 07 </b></a></li>
    <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha7.png" target ="_blank"><b>शुद्धिपत्र - 08 </b></a></li>              
    </ol>
  </li> 
  <li><b><a href="national_27.php" target="_blank">27<sup>वें</sup> "पवन ऊर्जा प्रौद्योगिकी" पर राष्ट्रीय प्रशिक्षण पाठ्यक्रम 18<sup>वें</sup> से 20<sup>वें</sup> दिसंबर 2024 <span class="label">नया</span></a></b></li>
  <li><b><a href="assets/Docu/NIWE_RD Vision_2024.pdf" target="_blank"> R&D विजन दस्तावेज़ </a></b></li>
  <li><b><a href="https://www.seci.co.in/whats-new-detail/2606" target="_blank">4000 मेगावाट अपतटीय पवन ऊर्जा परियोजनाओं के लिए समुद्र तल पट्टा अधिकारों के आवंटन के लिए RfS </a></b></li>
  <li><b><a href="https://www.seci.co.in/whats-new-detail/2603" target="_blank">भारत में अपतटीय पवन ऊर्जा परियोजनाओं के लिए समुद्र तल पट्टा अधिकारों के आवंटन के लिए एनआईटी</a></b></li>
  <li><b><a href="assets/Docu/Elevation_certificate_MoD.pdf" target="_blank">पवन ऊर्जा परियोजनाओं के MoD NoC आवेदनों के लिए उन्नयन प्रमाणपत्र जारी करना</a> </b></li>
  <li><b><a href="wind_potential.php" target="_blank">पवन परियोजनाएं स्थापित करने के लिए पवन संभावित स्थल_MOD NOC विवरण</a> </b></li>
  <li><b><a href="https://vsdp.niwe.res.in" target="_blank">वायुमित्र कौशल विकास कार्यक्रम</a> </b></li>
  <li><b><a href="assets/Docu/Guidelines_for_Offshore_Wind_Power_Assessment_Studies_and_Surveys.pdf" target="_blank">'ऑफशोर विंड पावर असेसमेंट स्टडीज एंड सर्वे के लिए दिशा-निर्देश' में संशोधन</a></b></li>
  <li><b><a href="assets/Docu/NABL_certificate_of_accreditation_2022-24.pdf" target="_blank">प्रत्यायन का प्रमाणन</a></b></li>
  <li><b><a href="https://mnre.gov.in/img/documents/uploads/file_f-1657882722533.pdf" target="_blank">ऑफशोर स्ट्रैटेजी पेपर</a></b></li>
  <li><b><a href="assets/Docu/White_Paper_on_Wind_Turbine_Technology_2020-30.pdf" target="_blank">भारत के लिए पवन टरबाइन प्रौद्योगिकी अनुसंधान एवं विकास पर श्वेत पत्र 2020-30 </a></b></li>
  <li><b><a href="assets/Docu/Special_Reservation_Cell(SRC)_13.01.2021.pdf" target="_blank">NIWE में विशेष आरक्षण सेल </a></b></li>
  <li><b><a href="department_owd_lidar_raw_data.php" target="_blank">दिसंबर 2018 से नवंबर 2019 तक गुजरात तट से दूर खंभात की खाड़ी में अपतटीय LiDAR कच्चा डेटा (*.STA और *.RTD फ़ाइलें)</a></b></li>
  <li><b><a href="assets/Docu/India's_Wind_Potential_Atlas_at_120m_agl.pdf" target="_blank">120 मीटर agl पर भारत का पवन संभावित एटलस</a> </b></li>
  <li><b><a href='assets/Docu/MINUTES_OF_THE_MEETING_Ladakh_06.12.2019.pdf' target="_blank">"बैठक के मिनट - विकास लद्दाख क्षेत्र में पवन/सौर ऊर्जा परियोजनाएँ" </a></b></li>
  <li><b><a href="assets/Docu/Ladakh_Presentation_06.12.2019.pdf" target="_blank">लेह लद्दाख यूटी में पवन/सौर संसाधन मूल्यांकन अध्ययन</a></b></li>
  <li><b><a href="assets/Docu/tender/Notice_for_GeM.pdf" target="_blank"><span class="blink_text">सूचना :</span> "सभी विक्रेताओं को सरकारी ई-मार्केट प्लेस (GeM) में पंजीकृत होना होगा" </a></b></li>
  <li><b><a href='department_owd_time_series_data.php' target='_blank'>समय श्रृंखला पवन/सौर डेटा संग्रह की प्रक्रिया </a></b></li> 
  <li><b><a href='assets/Docu/AIRTF_Brochure.pdf' target='_blank'>एशियाई-भारत अनुसंधान प्रशिक्षण फेलोशिप (AIRTF) कार्यक्रम </a></b></li> <li><b><a href=" Assets/Docu/RTF-DCS_Brochure.pdf" target="_blank">अनुसंधान प्रशिक्षण फेलोशिप - उन्नत क्षेत्रीय वैज्ञानिक (RTF-DCS) योजना </a></b></li>  <li><b><a href="assets/Docu/NIWE_Testing_and_certification_Letter_dt_07.02.2018.pdf" target="_blank">"MNRE ने पवन ऊर्जा से संबंधित सभी मुद्दों के लिए भारत में परीक्षण और प्रकार प्रमाणन निकाय के रूप में NIWE को मंजूरी दी" </a></b></li>
  <li><b><a href="assets/Docu/GST_registration_certificate.pdf" target="_blank">एनआईडब्ल्यूई का जीएसटी पंजीकरण प्रमाणपत्र</a></b></li>
  </div>
</section>

{% include 'hi_footer.html' %}
