{% load static %} {% include 'hi_header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        पवन परियोजनाओं की स्थापना के लिए पवन संभावित साइटें_एमओडी एनओसी विवरण
      </h1>
    </div>
  </div>
</section>


<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">                
        <a href="{% url 'hindi_index' %}">मुख्य पृष्ठ</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'departments' %}">विभाग</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'wra' %}">पवन संसाधन आकलन (डब्ल्यूआरए)</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        पवन परियोजनाओं की स्थापना के लिए पवन संभावित साइटें_एमओडी एनओसी विवरण
      </li>
    </ol>
  </nav>
</div>


<section class="Wind-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6>
          <a href="{% static '/images/Condition_MOD.pdf' %}" class="text-dark"
>
          पवन ऊर्जा परियोजनाओं के निर्माण के लिए एनओसी की सामान्य शर्तें
          (पैरा (i) 05.06.2024 से अपडेट किया गया)
          
          </a>
          
          <span
          
          class="blink_me"
          
          style="
          background-color: red;
          padding: 1px 5px 4px;
          color: #fff;
          border-radius: 4px;
          
          "
          >
          नया</span>
          
          
          </h6>
          
          <ol style="list-style-type: disc" >
          
          <li>
          
          <h5 class="pt-3">
          
          <a
          
          href="{% static '/images/Condition_MOD.pdf' %}"
          target="_blank"
          class="text-dark pt-3 pb-3"
          >
          
          JPG मानचित्र
              </a>
              <span
                class="blink_me"
                style="
                  background-color: red;
                  padding: 2px 5px 4px;
                  color: #fff;
                  border-radius: 4px;
                  font-size: 15px;
                "
                >नया</span
              >
            </h5>
          </li>

          <ul style="color: #000">
            <a href="{% static '/images/map/AP.jpg' %}"
            ><li>आंध्र प्रदेश</li></a
            >
            <a href="{% static '/images/map/GJ.jpg' %}"><li>गुजरात</li></a>
            <a href="{% static '/images/map/KA.jpg' %}"><li>कर्नाटक</li></a>
            <a href="{% static '/images/map/MH.jpg' %}"><li>महाराष्ट्र</li></a>
            <a href="{% static '/images/map/RJ.jpg' %}"><li>राजस्थान</li></a>
            <a href="{% static '/images/map/TN.jpg' %}"><li>तमिलनाडु</li></a>
            </ul>

          <li>
            <h5 class="pt-3">
              केएमएल फ़ाइल

              <span
                class="blink_me"
                style="
                  background-color: red;
                  padding: 2px 5px 4px;
                  color: #fff;
                  border-radius: 4px;
                  font-size: 15px;
                "
                >नया</span
              >
            </h5>
          </li>
          <ul style="color: #000">
            <a href="{% static '/images/map/AP.kmz' %}"
              ><li>Andhra Pradesh</li></a
            >
            <a href="{% static '/images/map/GJ.kmz' %}"><li>गुजरात</li></a>
            <a href="{% static '/images/map/KA.kmz' %}"><li>कर्नाटक</li></a>
            <a href="{% static '/images/map/MH.kmz' %}"><li>महाराष्ट्र</li></a>
            <a href="{% static '/images/map/RJ.kmz' %}"><li>राजस्थान</li></a>
            <a href="{% static '/images/map/TN.kmz' %}"><li>तमिलनाडु</li></a>
            </ul>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'hi_footer.html' %}
