{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Records Retention Schedule</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'document' %}">Documents</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Records Retention Schedule
      </li>
    </ol>
  </nav>
</div>

<section class="rrs_section" id="divContent">  
  <div class="container">
    <a href="/static/pdf/Ministry_approval.pdf" target="_blank"
      ><h3>Ministry Approval</h3></a
    >
    <a href="/static/pdf/record_retention_2013.pdf" target="_blank"
      ><h4>NIWE Records Retention Schedule</h4></a
    >
  </div>
</section>

{% include 'footer.html' %}
