{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Director General's Message</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'us' %}">About Us</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Director General's Message
      </li>
    </ol>
  </nav>
</div>

<section class="dgm-div" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">{% include 'aboutsidenav.html' %}</div>
      <div class="col-md-8" id="divContent">
        <div class="dgm-text" >
          {% for data in dgm %}

          <h4>{{data.title}}</h4>

          {{data.description | safe}}
          <p>Yours faithfully,</p>
          <h5>Director General</h5>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
