{% include 'hi_header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
  <div class="container">
  <h1 class="text-white">मीडिया</h1>
  </div>
  </div>
  </section>
  
  <div class="container">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent p-0">
  <li class="breadcrumb-item"><a href="{% url 'hindi_index' %}">होम </a></li>
  <li class="breadcrumb-item" aria-current="page">मीडिया</li>
  </ol>
  </nav>
  </div>

<section class="main-div" id="divContent">
  <div class="container">
    <!--SESI awards row-->
    <div class="row col-12 mx-auto">
      <div class="col-md-12">
        <div class="grd-box">
          <div class="head1">
            <h4>मीडिया</h4>
          </div>
          <div class="mt-4">
          <ol type="I" class="event-list">
          <li class="li-items">
          <a href="{% url 'hi_awards' %}"> पुरस्कार </a>
          </li>
          <li class="li-items">
          <a href="{{charter.document_File.url}}"> नागरिक चार्टर </a>
          </li>
          <li class="li-items">
          <a href="{% url 'hi_gallery' %}"> गैलरी</a>
          </li>
          <li class="li-items">
          <a href="{% url 'hi_events' %}"> ईवेंट </a>
          </li>
          
          </ol>
          </div>
        </div>
      </div>
    </div>
    <!--div close for row-->
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% include 'hi_footer.html' %}
