{% include 'header.html' %}

<!-- nav end  -->
<style>
  .container .gallery a img {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform 0.15s ease;
    -moz-transition: -moz-transform 0.15s ease;
    -o-transition: -o-transform 0.15s ease;
    -ms-transition: -ms-transform 0.15s ease;
    transition: transform 0.15s ease;
    position: relative;
  }
  .clear {
    clear: both;
  }
</style>
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Azadi ka Amrit Mahotsav - 2022-23 to commemorate the 75 years of
        progressive Independent India
      </h1>
    </div>
  </div>
</section>

<section class="main-div py-5 header">
  <div class="container py-1">
    <div class="row col-12 mx-auto">
      <div class="txt-clr2 text-center">
        <h3>Azadi ka Amrit Mahotsav - 2022-23 - 1st Event of NIWE</h3>
        <h6>to commemorate the 75 years of progressive Independent India</h6>
        <h5>Report of the First Event</h5>
      </div>

      <div class="grd-box mt-4">
        <div class="head1">
          <h4 class="txt-clr2">“Webinar on Sustainable Energy”</h4>
        </div>
        <p>
          NIWE with the support of MNRE has scheduled sixteen events to
          commemorate 75 years of progressive Independent India (Azadi ka Amrit
          Mahotsav). The first event, “Webinar on Sustainable Energy” was held
          on 28th October 2022 and conducted successfully. The announcement
          about the event carrying the instructions was hosted in NIWE website
          and circulated through Social Media pages along with the below given
          Flyer.
        </p>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-7 col-8 mx-auto mt-5">
        <div class="card border-0">
          <img
            src="/statics/images/AKAM-2022-2023-1st_Event-Webinar_Flyer.jpg"
            alt=""
          />
        </div>
      </div>
      <p>
        The event was conducted online, enabling large number of participants to
        take part in the Webinar.
      </p>

      <div class="mt-3">
        <h5 class="lh-sm mb-0">REGISTRATION</h5>
        <p>
          Against the announcement, 245 registrations were received and totally
          44 participants have attended the event.
        </p>
      </div>

      <div class="mt-3">
        <h5 class="lh-sm mb-0">PROGRAMME SCHEDULE</h5>
        <div
          class="col-lg-6 col-md-7 col-sm-10 mx-auto"
          style="overflow-x: auto"
        >
          <table class="table table-bordered lh-sm mt-4 w-100">
            <thead class="text-center">
              <tr class="bg-color text-white">
                <th>Date</th>
                <th>Times</th>
                <th>Themes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>28th October 2022</td>
                <td style="white-space: nowrap">16.00 - 17.00</td>
                <td>Sustainable Energy by Dr. K. Balaraman, DG, NIWE</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>
          The webinar was scheduled as an online event. The speaker gave a
          detailed presentation on different aspects of sustainable energy.
          There was a Q&A session, which was open for the participants to chat
          with the speaker and the speaker had clarified all the doubts. The
          answers were very useful to the participants to have a feel about the
          sector. All the participants were satisfied with the knowledge
          transferred through the webinar and expressed happiness.
        </p>
      </div>

      <!-- <div class="mt-3 mb-5 ">
                    <h5 class="lh-sm mb-0">GALLERY OF 1st EVENT</h5>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 mt-4">
                        <div class="card img-card">
                            <img src="images/akam-event1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                </div> -->
      <div class="col-12 row mx-auto gallery">
        <h5 class="lh-sm mt-4">GALLERY OF 1st EVENT</h5>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
          <a href="/statics/images/1 (1).jpg" class="big">
            <div class="card gallery-card-akam p-0">
              <div class="card-body text-center p-2 gallery-img-akam">
                <img
                  src="/statics/images/1 (1).jpg"
                  alt=""
                  title="About the image"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
          <a href="/statics/images/akam-event1.jpg" class="big">
            <div class="card gallery-card-akam p-0">
              <div class="card-body text-center p-2 gallery-img-akam">
                <img
                  src="/statics/images/akam-event1.jpg"
                  alt=""
                  title="About the image"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
          <a href="/statics/images/1 (1).jpg" class="big">
            <div class="card gallery-card-akam p-0">
              <div class="card-body text-center p-2 gallery-img-akam">
                <img
                  src="/statics/images/1 (1).jpg"
                  alt=""
                  title="About the image"
                />
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
          <a href="/statics/images/1 (1).jpg" class="big">
            <div class="card gallery-card-akam p-0">
              <div class="card-body text-center p-2 gallery-img-akam">
                <img
                  src="/statics/images/1 (1).jpg"
                  alt=""
                  title="About the image"
                />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
