{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Azadi ka Amrit Mahotsav - 2021-22 to commemorate the 75 years of India's
        Independence
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'document' %}">Documents</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'amrit_mahotsav' %}"> Azadi ka Amrit Mahotsav</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Azadi ka Amrit Mahotsav 2021-22
      </li>
    </ol>
  </nav>
</div>

<section class="main-div py-1 header">
  <div class="container py-1">
    <div class="row col-12 mx-auto">
      <div class="col-lg-8 mt-2 order-lg-1 order-2">
        <div class="tab-content" id="v-pills-tabContent">
          <!--left side tab content-area -->

          <div
            class="tab-pane fade rounded bg-white show active"
            id="wind-energy"
            role="tabpanel"
            aria-labelledby="wind-energy"
          >
            <div class="row col-12 mx-auto px-0">
              <p>
                NIWE with the support of MNRE has scheduled eight (8) week
                events of Azadi ka Amrit Mahotsav to commemorate the 75 years of
                India's Independence.
              </p>
              <p>The following are the scheduled events;</p>
              <div style="overflow-x: auto">
                <table
                  class="table table-bordered table-hover table-striped table-responsive w-100 lh-sm akam-table"
                >
                  <thead>
                    <tr class="bg-color text-white">
                      <th style="width: 20px" class="py-3">S.No.</th>
                      <th style="width: 160px" class="py-3">Dates</th>
                      <th class="py-3">Topic</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="td-shd">10</td>
                      <td class="td-shd">31st May to 4th June 2021</td>
                      <td class="td-shd">
                        Painting and Essay Competition on Wind Energy

                        <a
                          href="{% url 'amrit_mahotsav_2021_22' %}"
                          class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>02nd to 6th August 2021</td>
                      <td>
                        Moderate discussion with research and educational
                        Institutions, Fireside chat with experts in Zoom /MS
                        Teams
                        <a href="#" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-shd">28</td>
                      <td class="td-shd">20th to 25th September 2021</td>
                      <td class="td-shd">
                        Boot camp at Kayathar for 13 & 19 years age group (two
                        sessions)
                        <a href="###" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>37</td>
                      <td>22nd to 27th November 2021 td></td>
                      <td>
                        Technical paper presentation and Compilation pertaining
                        to Wind Energy
                        <a href="#" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-shd">46</td>
                      <td class="td-shd">7th to 12th February 2022</td>
                      <td class="td-shd">
                        Member Cohort workshops and case study presentation
                        <a href="###" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>55</td>
                      <td>28th March to 02nd April 2022</td>
                      <td>
                        National RE camp at Kayathar for Designing of Small Wind
                        Turbine
                        <a href="###" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="td-shd">64</td>
                      <td class="td-shd">30th May to 04th June 2022</td>
                      <td class="td-shd">
                        RE camp on the operations of Wind Turbine at Kayathar
                        for 15 & 19 years age group
                        <a href="###" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>74</td>
                      <td>08th to 13th August 2022</td>
                      <td>
                        Interactive sessions on Off-shore Wind Power
                        <a href="###" class="txt-clr"
                          ><span class="new-icon"
                            >(Report)<i class="fa fa-file-text ms-1"></i></span
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--div close for row-->
          </div>
          <!--div close for tab-pane-->

          <!-- Tabs content common tabs part-->
        </div>
        <!--div close for tab content-->
      </div>
      <!--div close for col-md-9-->
      <div class="col-lg-4 mt-4 order-lg-2 order-1">
        {% include 'side-tab.html' %}
      </div>
      <!--div close for col-md-3-->
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
