{% include 'header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Hindi Version of Corporate film</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Hindi Version of Corporate film</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">
    <h1>Hindi Version of Corporate film</h1>
    <video class="h-100" controls>
      <source src="static/video/Corporate_film_about_NIWE.mp4" type="video/mp4" class="h-100" />
    </video>
  </div>
</section>

{% include 'footer.html' %}
