{% include 'header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Events</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">
    <h1>Events</h1>
    
    <li>
        <b>
          <a href="#">
            Calling for options for posting of Group B Officers to the
            grade of Assistant Commissioner vide Office order No. 171/2023
            dated 10.10.2023 reg.
        </b>
      </a>
    </li>

    <li>
        <b>
          <a href="#">
            Calling for options for posting of Group B Officers to the
            grade of Assistant Commissioner vide Office order No. 171/2023
            dated 10.10.2023 reg.
        </b>
      </a>
    </li>
    <li>
        <b>
          <a href="#">
            Calling for options for posting of Group B Officers to the
            grade of Assistant Commissioner vide Office order No. 171/2023
            dated 10.10.2023 reg.
        </b>
      </a>
    </li>

    <li>
        <b>
          <a href="#">
            Calling for options for posting of Group B Officers to the
            grade of Assistant Commissioner vide Office order No. 171/2023
            dated 10.10.2023 reg.
        </b>
      </a>
    </li>

    <li>
        <b>
          <a href="#">
            Calling for options for posting of Group B Officers to the
            grade of Assistant Commissioner vide Office order No. 171/2023
            dated 10.10.2023 reg.
        </b>
      </a>
    </li>
  </div>
</section>

{% include 'footer.html' %}
