<!-- footer -->
{% load static %}

<footer class="footer" style="background-color: #f2f9fa">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-12 my-4">
          <ul class="footer-link">
            <h5 class="mb-3">ABOUT US</h5>

            <li>
              <a href="{% url 'dgm' %} ">Director General's Message</a>
            </li>
            <li>
              <a href="{% url 'background' %} ">Background</a>
            </li>
            <li>
              <a href="{% url 'charter' %} ">Charter</a>
            </li>
            <li>
              <a href="{% url 'org' %} ">Organizational Chart</a>
            </li>
            <li>
              <a href="{% url 'quality' %} ">Quality Policy</a>
            </li>
            <li>
              <a href="{% url 'dg_staff' %} ">Staff Profile</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-12 my-4">
          <ul class="footer-link">
            <h5 class="mb-3">DEPARTMENTS</h5>

            <li>
              <a href="{% url 'r&d' %} ">Research and Development</a>
            </li>
            <li>
              <a href="{% url 'certificate' %} "
                >Certification & Information Technology
              </a>
            </li>
            <li>
              <a href="{% url 's&d' %} ">Testing, Standards & Regulation</a>
            </li>
            <li>
              <a href="{% url 'wra' %} ">Wind Resource Assessment</a>
            </li>
            <li>
              <a href="{% url 'owd' %} "> Offshore Wind Development</a>
            </li>
            <li>
              <a href="{% url 'sdt' %} "> Skill Development & Training</a>
            </li>
            <li>
              <a href="{% url 'finance' %} "> Finance & Administration</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 col-12 my-4">
          <ul class="footer-link">
            <h5 class="mb-3">INFORMATION</h5>

            <li>
              <a href="{% url 'GenInfo' %}">General Information</a>
            </li>
            <li>
              <a href="#"> Offshore Wind Energy Portal</a>
            </li>
            <li>
              <a href="#">Internship Programme for UG/PG students</a>
            </li>
            <li>
              <a href="#">Apprenticeship Training</a>
            </li>
            <li>
              <a href="/library/">Library</a>
            </li>
            <li>
              <a href="{% url 'career' %} ">Careers</a>
            </li>
            <li>
              <a href="/tenders/">Tenders</a>
            </li>
            <li>
              <a href="#">Wind/Solar Data Sale</a>
            </li>
            <li>
              <a href="#">Calibration of Solar Instruments</a>
            </li>
          </ul>
        </div>
        <!-- Events -->
        <div class="col-sm-6 col-md-3 col-12 my-4">
          <ul class="footer-link">
            <h5 class="h6 mb-2">EVENTS</h5>

            <li>
              <a href="#"
                >Global Wind Day 2022 & Silver Jubilee Celebration of NIWE</a
              >
            </li>
            <li>
              <a href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li>
              <a href="/national_training/">National Training NEW</a>
            </li>
            <li>
              <a href="/training_calander/">Training Calendar 2024-25 NEW</a>
            </li>
          </ul>
        </div>

        <section class="container mb-3">
          <div class="row col-12 mx-auto">
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="https://amritmahotsav.nic.in/" target="_blank">
                  <img
                    src="{% static '/images/icon/azadi.png' %}"
                    alt="Picture 1"
                  />
                </a>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="https://amritmahotsav.nic.in/" target="_blank">
                  <img
                    src="{% static '/images/icon/renewble-energy.png' %}"
                    title="Ministry of New and Renewable Enery"
                    alt="Picture 2"
                    title=""
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="https://www.ireda.in/" target="_blank">
                  <img src="/static/images/icon/ireda.png" alt="Picture 3" />
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="http://windpro.org/" target="_blank">
                  <img src="/static/images/icon/Iwpa.jpeg" alt="Picture 4" />
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="http://indianwindpower.com/index.php" target="_blank">
                  <img src="/static/images/icon/iwtma.jpeg" alt="Picture 5" />
                </a>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="https://nise.res.in/" target="_blank">
                  <img src="/static/images/icon/nise.jpeg" alt="Picture 6" />
                </a>
              </div>
            </div>
            

            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="http://seci.co.in/" target="_blank">
                  <img
                    src="/static/images/icon/seci-logo.png"
                    alt="Picture 7"
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-6">
              <div class="card foot-ban-img">
                <a href="http://nibe.res.in/" target="_blank">
                  <img
                    src="/static/images/icon/swarn-singh01.jpg"
                    alt="Picture 8"
                  />
                </a>
              </div>
            </div>
          </div>
        </section>
       
      </div>
    </div>
  </div>
</footer>

<div class="footer-middel ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <!--  'visitors- count' -->

        <p>
          Total Visitors:<img
            class="statcounter"
            src="https://c.statcounter.com/13034390/0/1610d0fb/0/"
            alt="Web Analytics"
            referrerpolicy="no-referrer-when-downgrade"
          />
        </p>
      </div>
      <div class="col-md-6 col-12">
        <p>
          <a href="/disclaimer/" class="text-body"> Disclaimer </a> |
          <a href="/glossary/" class="text-body">Glossary </a> |
          <a href="{% url 'sitemap' %} " class="text-body">Sitemap </a> |
          <a href="/static/pdf/routemap-niwe.pdf" class="text-body">
            Route Map</a
          >
          | <a href="/tenders/" class="text-body"> Tenders</a> |
          <a href="{% url 'career' %}" class="text-body"> Careers</a>
        </p>
      </div>
      
      <div class="col-md-3 col-12  ">
        <p>Last update on : <span class="blink_me " style="font-size: 14px;">14 OCTOBER 2024</span></p>
      </div>

    </div>
  </div>
</div>

<!-- footer second -->

<div class="footer-bottom">
  <div class="container text-center">
    <div class="footer-sec d-flex justify-content-between">
      <p>
        © All Rights Reserved | Content Owned by National Institute of Wind
        Energy
      </p>
      <p class="text-reset">
        Design and developed by
        <a href="https://riveyrainfotech.com/" style="color: #fff"
          >Riveyra Infotech Private Limited</a
        >
      </p>
    </div>
  </div>
</div>

<!-- bootstrap js link -->

{% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- start accordionExample collapse -->
<!--
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-..."
  crossorigin="anonymous"
></script>

-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>


<!--  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> 
-->

<!-- custom js -->
<script src="{% static '/js/main.js' %}"></script>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="{% static '/js/simple-lightbox.js' %}"></script>
<script>
  (function () {
    var $gallery = new SimpleLightbox(".gallery a", {});
  })();
</script>

{% comment %} <script>
  // Initialize Bootstrap tooltips
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script> {% endcomment %}

<!-- panel-manuals font size-->
<script>
  // JavaScript function to toggle panel visibility
  function toggleAnswer(panelId) {
    var panel = document.getElementById(panelId);
    var button = document.querySelector(`button[aria-controls="${panelId}"]`);

    if (panel.classList.contains("d-none")) {
      panel.classList.remove("d-none");
      button.setAttribute("aria-expanded", "true");
    } else {
      panel.classList.add("d-none");
      button.setAttribute("aria-expanded", "false");
    }
  }
</script>


<!--  

-->
<!-- End for accordion  -->

<!-- start font size-->
<script>
  $(document).ready(function () {
    $("#linkIncrease").click(function () {
      modifyFontSize("increase");
    });

    $("#linkDecrease").click(function () {
      modifyFontSize("decrease");
    });

    $("#linkReset").click(function () {
      modifyFontSize("reset");
    });

    function modifyFontSize(flag) {
      var divElement = $("#divContent");
      var currentFontSize = parseInt(divElement.css("font-size"));

      if (flag == "increase")
        if (currentFontSize >= "27") currentFontSize = currentFontSize;
        else currentFontSize += 2;
      else if (flag == "decrease")
        if (currentFontSize <= "10") currentFontSize = currentFontSize;
        else currentFontSize -= 2;
      else currentFontSize = 18;

      divElement.css("font-size", currentFontSize);
    }
  });
</script>
<!-- endfor font size-->

<script>
  document.addEventListener("DOMContentLoaded", function () {});
</script>
