{% include 'header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Glossary</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Glossary</li>
    </ol>
  </nav>
</div>

<section class="about-div" id="divContent">
  <div class="container">
    <p>
      <b> Accreditation:</b> Procedure by which an authoritative body gives
      formal recognition that a body is impartial and technically competent to
      carry out specific tasks such as certification, tests, specific types of
      tests etc. Note: Accreditation is awarded following successful assessment
      and is followed by appropriate surveillance.
    </p>
    <p>
      <strong> Acid Rain:</strong> Also called "acid precipitation" or "acid
      deposition," acid rain is precipitation containing harmful amounts of
      nitric and sulfuric acids formed primarily by nitrogen oxides and sulfur
      oxides released into the atmosphere when fossil fuels are burned. It can
      be wet precipitation (rain, snow, or fog) or dry precipitation (absorbed
      gaseous and particulate matter, aerosol particles, or dust). Acid rain has
      a pH below 5.6. Normal rain has a pH of about 5.6, which is slightly
      acidic. (The pH value is a measure of acidity or alkalinity, ranging from
      0 to 14. A pH measurement of 7 is regarded as neutral. Measurements below
      7 indicate increased acidity, and those above 7 indicate increased
      alkalinity.)
    </p>
    <p>
      <b>Activation Energy:</b> Activation energy of a reaction is the amount of
      energy needed to start the reaction.
    </p>
    <p>
      <b>Active Heating System:</b> A solar water or space-heating system that
      moves heated air or water using pumps or fans.
    </p>
    <p>
      <b>Air-Conditioning -</b> Cooling and dehumidifying the air in a building
      by a refrigeration unit by a refrigeration unit powered by electricity or
      natural gas. This definition excludes fans, blowers, or evaporative
      cooling systems (swamp coolers) that are not connected to a refrigeration
      unit.
    </p>
    <p>
      <b>Alternating Current:</b> An electric current that reverses its
      direction at regularly recurring intervals, usually 50 or 60 times per
      second.
    </p>
  </div>
</section>

{% include 'footer.html' %}
