{% include 'header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">New In Mnre</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">New In Mnre</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">
    <h1>New In Mnre</h1>
    
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122768-2.pdf" target="_blank">Revised List of Wind Turbine Models and Manufacturers (As on 13.06.2022)</a></b></li>

    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122737.pdf" target="_blank">Participation in Expression of Interest (EoI) for setting up a manufacturing zone on pilot basis for Power & Renewable Energy Sector</a></b></li>
   
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122768-1.pdf" target="_blank">Revised List of Wind Turbine Models and Manufacturers (As on 05.05.2022)</a></b></li>
   
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122730-1.pdf" target="_blank">Biogas plant installation enlisted under MGNREGA Act 2005.</a></b></li>
   
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122783.pdf" target="_blank">Revised List of Wind Turbine Models and Manufacturers (As on 05.04.2022)</a></b></li>
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122777.pdf" target="_blank">Approved Models and Manufacturers of Solar Photovoltaic Modules (Requirements for Compulsory Registration) Order, 2019: Amendment.</a></b></li>
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122790.pdf" target="_blank">Updated (04.03.2022) List-I under ALMM order for Solar PV Modules</a></b></li>
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122733.pdf" target="_blank">Time-extension in Scheduled Commissioning Date of Wind Energy Projects considering disruption due to post-COVID supply chain and monsoon related disruptions.</a></b></li>
    
   
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122730.pdf" target="_blank">Administrative Approval and Scheme Guidelines for GEC Phase II</a></b></li>
    <li><b><a href="https://cdnbbsr.s3waas.gov.in/s3716e1b8c6cd17b771da77391355749f3/uploads/2022/12/2022122724-1.pdf" target="_blank">Amendment in the 'Guidelines for Tariff Based Competitive Bidding Process for procurement of power from Grid Connected Winf Solar Hybrid Projects' issued dated 14.10.2020 and amended on 23.07.2021</a></b></li>
  
    
  </div>
</section>

{% include 'footer.html' %}
