<div class="depart-side-tabs">
  <ul>
    <a href="/academy/">
      <li>Academic</li>
    </a>

    <a href="{% url 'newsletters' %}">
      <li>Newsletter</li>
    </a>
    <a href="{% url 'annual_reports' %}">
      <li>Annual Reports</li>
    </a>
    <a href="/library/">
      <li>Library</li>
    </a>
    <a href="/workshop_confrence/">
      <li>Workshop and Conference</li>
    </a>
    <a href="/vayumitra_sdt">
      <li>Vayumitra Skill Development Programme</li>
    </a>
    <a href="/training_calander/">
      <li>Training Calendar</li>
    </a>
    <a href="{% url 'national_training' %}">
      <li>National Training</li>
    </a>
    <a href="/international_training">
      <li>International Training</li>
    </a>
    <a href="/itc_training/">
      <li>ITEC Training</li>
    </a>
    <a href="/customize_training/">
      <li>Customized Training</li>
    </a>
    <a href="/webinar/">
      <li>Webinar</li>
    </a>
    <a href="/global_wind_day/">
      <li>Global Wind Day</li>
    </a>
    <a href="/short_term_course/">
      <li>Short Term Courses</li>
    </a>
    <a href="/ireda_niwe_annual_awards/">
      <li>IREDA - NIWE Awards for Wind Energy</li>
    </a>
    <a href="{% url 'amrit_mahotsav' %}">
      <li>Azadi ka amrit mahotsav</li>
    </a>
  </ul>
</div>
