<div class="all-page-tabs">
  <ul class="nav-tab" id="sidebar">
    <a href="{% url 'contact' %}">
      <li>Contact Us</li>
    </a>
    <a href="{% url 'dg_staff' %}">
      <li>Director General Office</li>
    </a>
    <a href="{% url 'staff_cert' %}">
      <li>Certification and Information Technology (C&IT)</li>
    </a>
    <a href="{% url 'staff_snr' %}">
      <li>Testing, Standards & Regulation</li>
    </a>
    <a href="{% url 'staff_rnd' %} ">
      <li>Research and Development (R&D)</li> 
    </a>
    <a href="{% url 'staff_wra' %}">
      <li>Wind Resource Assessment (WRA)</li>
    </a>
    <a href="{% url 'staff_sdt' %}">
      <li>Skill Development & Training (SDT)</li>
    </a>
    <a href="{% url 'staff_owd' %}">
      <li>Offshore Wind Development (OWD)</li>
    </a>

    <a href="{% url 'staff_fin' %}">
      <li>Finance & Administration (F&A)</li>
    </a>
  </ul>
</div>
