{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Small wind Energy and hybrid systems & its relevance to telecom towers
      </h1>
    </div>
  </div>
</section>

<section class="main-div">
  <div class="container">
    <!--SESI awards row-->
    <div class="row col-12 mx-auto">
      <div class="col-md-12">
        <div class="grd-box">
          <div class="mt-4">
            <ol type="1" class="event-list">
              <li class="li-items">
                <a href="##">
                  "Brief status of SWES Programme and recent initiatives"<span
                    class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="###">
                  "Role of CFD and Aerodynamics in micrositing of SWES"<span
                    class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Strategic approach towards Wind Solar Hybrid Systems (swes)
                  for Remote Telecom sites in India & case study of
                  Rajasthan"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>

              <li class="li-items">
                <a href="##">
                  "Wind Pumps: The Gujarat Experience"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Wind Turbine on Telecom Tower (Load Estimation and Structural
                  Design Approach)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Techno Economic Analysis of SWT for Telecom Towers - A case
                  study"
                  <span class=""><i class="fa fa-file-pdf-o ms-1"></i></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Telecom(Mobile)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Advanced Lead Acid Storage Solutions for Wind/Solar Powered
                  Telecom Towers"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "State of Art Power Converters for Wind/Solar Powered mobile
                  towers"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Wind Solar Battery Hybrid For Mobile Phone Towers (Equipment
                  & System Design)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "Small Wind - Solar Hybrid - Case Studies of various
                  Applications"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="small_wind_energy_&_hybrid_system_presentation.html">
                  "Small Wind Turbines & Hybrid Systems (Opportunities &
                  Suggestions)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "XZERES Corp Presents Wind Solar Hybrid Power Solutions (For
                  Telecom & Broad Cast Towers)"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
              <li class="li-items">
                <a href="##">
                  "SolarMill a Smart HYBRID Technology TowerMill
                  Application"<span class=""
                    ><i class="fa fa-file-pdf-o ms-1"></i
                  ></span>
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--div close for row-->
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->

{% include 'footer.html' %}
