{% include 'header.html' %} {% load static %}

<!-- nav end  -->
<style>
  .container .gallery a img {
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform 0.15s ease;
    -moz-transition: -moz-transform 0.15s ease;
    -o-transition: -o-transform 0.15s ease;
    -ms-transition: -ms-transform 0.15s ease;
    transition: transform 0.15s ease;
    position: relative;
  }
  .clear {
    clear: both;
  }
</style>

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Gallery</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'gallery' %}">Gallery </a>
      </li>

      <li class="breadcrumb-item active" aria-current="page">Sub-Gallery</li>
    </ol>
  </nav>
</div>

<section class="main-div">
  <div class="container">
    <div class="container">
      <div class="head1">
        <h4>DEA Team visit to NIWE on 29th February, 2024</h4>
      </div>
    </div>

    <div class="col-12 mx-auto gallery">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{{ sub_album.image.url }}" class="big">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img
                src="{{ sub_album.image.url }}"
                class="card-img-top"
                alt="Sub-gallery image"
              />
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{% static '/images/sub-gallery/two.jpg' %}">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img src="{% static '/images/sub-gallery/two.jpg' %}" alt="" />
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{% static '/images/sub-gallery/three.jpg' %}">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img src="{% static '/images/sub-gallery/three.jpg' %}" alt="" />
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{% static '/images/sub-gallery/four.jpg' %}">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img src="{% static '/images/sub-gallery/four.jpg' %}" alt="" />
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{% static '/images/sub-gallery/five.jpg' %}">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img src="{% static '/images/sub-gallery/five.jpg' %}" alt="" />
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
        <a href="{% static '/images/sub-gallery/six.jpg' %}">
          <div class="card sub-gallery-card p-0">
            <div class="card-body text-center p-2 sub-gallery-img">
              <img src="{% static '/images/sub-gallery/six.jpg' %}" alt="" />
            </div>
          </div>
        </a>
      </div>
      <div class="clear"></div>
    </div>
    <!--div close for ROW-->
  </div>
  <!--div close for the main container-->
</section>

<!-- footer -->
{% include 'footer.html' %}
