{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Workshop and Conference</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Workshop and Conference
      </li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="divContent">
  <div class="container">
    <div class="row col-12">
      <div class="col-md-8">
        {% for item in workshop %}

        <p style="background: #fff">
          <a href="{% url 'workshop_confrence_year' item.id %}" style="">
            {{ item.url }} </a
          >
        </p>

        {% endfor %}
      </div>
      <div class="col-md-4">{% include "side-tab.html" %}</div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
