{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">International Training</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        International Training
      </li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container py-1">
    <div class="row col-12 mx-auto">
      <div class="col-md-8 mt-4 order-lg-1 order-2">
     
        <div class="tab-content" id="v-pills-tabContent">
          <!--left side tab content-area -->

          <div
            class="tab-pane fade rounded bg-white show active"
            id="wind-energy"
            role="tabpanel"
            aria-labelledby="wind-energy"
          >
            <div class="row col-12 mx-auto px-0">
              {% for item in international %}
              <div class="col-lg-3 col-md-2 col-sm-6 col-12">
                <a href="{{ item.url }}" target="_blank">
                  <div class="card sm-card-design text-center px-8 py-4 mt-4">
                    <h5 class="card-title text-primary">{{ item.title|safe }}</h5>
                    <img
                      src="{{ item.image.url }}"
                      alt="img"
                      class="img-fluid"
                    />
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>

            <!--div close for row-->
          </div>
          <!--div close for tab-pane-->
        </div>
        <!--div close for tab content-->
      </div>
      <!--div close for col-md-9-->
      <div class="col-md-4 mt-4 order-lg-2 order-1">
        {% include 'side-tab.html' %}
      </div>

      <!--div close for col-md-3-->
    </div>
  </div>
</section>

{% include 'footer.html' %}
