{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        {% for national in national_data %} {{national.title}} {% endfor %}
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'departments' %}">Department</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'sdt' %}">Skill Development & Training</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/training_calander/">Training Calendar</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% for national in sub_training %} {{national.title}} {% endfor %}
      </li>
    </ol>
  </nav>
</div>
  
<section class="dgm-div" id="divContent">
  <div class="container">
    {% for national in sub_training %} {{national.data|safe}} {% endfor %}
  </div>
</section>
{% include 'footer.html' %}
