{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Tenders</h1>
    </div>
  </div>
</section>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tenders</li>
    </ol>
  </nav>
</div>

<section class="tender-sec" id="divContent">
  <div class="container ">
    <p>
      <a href="/static/pdf/tenders/Notice_for_GeM.pdf">
        <strong class="blink_me text-danger">Information :</strong> "All Vendors
        to get registered in Government e-Market place (GeM)"
      </a>
    </p>
    <p>
      <a href="/static/pdf/tenders/e-procurement_notice.pdf">
        <b
          >Important Notice : "Information for processing TENDERS through
          e-procurement" - with effect from 22.09.2016</b
        >
      </a>
    </p>
    <ul>
      <li>
        Bid Document for "Tower Ladder (V2) (Q3) , Ladder, Fire, Extension, 7.5m
        (Defence) (Q3)" due at 03.00 PM on 25.04.2024 opening at 03.30 PM on
        25.04.2024
        <b
          class="blink_me"
          style="
            background-color: red;
            padding: 2px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >NEW</b
        >
      </li>
      <li>
        Bid Document for "Geographic Information System (GIS) Software (V2) (Q2)
        ( PAC Only ) , Geographic Information System (GIS) Software (V2) (Q2)"
        due at 11.00 AM on 15.03.2024 opening at 11.30 AM on 15.03.2024
      </li>
      <li>
        Bid Document for "Split Air Conditioner Including Green AC, Wall Mount
        Type " due at 03.00 PM on 11.03.2024 opening at 03.30 PM on 11.03.2024
      </li>
      <li>
        Tender for "Preparation of Detailed Project Report (DPR) for Blade
        testing facility (Large Grid connected Wind Turbines) " due at 04.30 PM
        on 05.03.2024 opening at 04.30 PM on 06.03.2024
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
      </ul>
      <li>
        Bid Document for "Multifunction Machines MFM (Q2) " due at 07.00 PM on
        21.02.2024 opening at 07.30 PM on 21.02.2024
      </li>
      <li>
        Bid Document for "Operation and Maintenance Services of Power
        Generator(DG-Set) " due at 03.00 PM on 05.02.2024 opening at 03.30 PM on
        05.02.2024
      </li>

      <ul class="wra-list purchase_order">
        <li>
          <b> Corrigendum - 01</b>
        </li>
      </ul>

      <li>
        Bid Document for "House Keeping Material" due at 06.00 PM on 02.02.2024
        opening at 06.30 PM on 02.02.2024
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 03</b></li>
      </ul>

      <li>
        Bid Document for "AMC / CMC of Fire Extinguishers - Institutional; Dry
        Powder Fire Extinguisher , AMC / CMC of Fire Extinguishers -
        Institutional; Carbon Dioxide Fire Extinguisher" due at 06.00 PM on
        02.01.2024 opening at 06.30 PM on 02.01.2024
      </li>
      <li>
        Bid Document for "AMC / CMC of Fire Detection, Fire Alarm, Fire Hydrant
        and Sprinkler System" due at 11.00 AM on 28.12.2023 opening at 11.30 AM
        on 28.12.2023
      </li>
      <li>
        Bid Document for "Operation and Maintenance Services of Power Generator
        (DG-Set)" due at 01.00 PM on 02.01.2024 opening at 01.30 PM on
        02.01.2024
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
      </ul>

      <li>
        Custom Bid for Services - "Revamping of CCTV Surveillance System in NIWE
        Chennai" due at 03.00 PM on 21.12.2023 opening at 03.30 PM on 21.12.2023
      </li>
      <li>
        Bid Document for "100 M met Mast Dismantling Civil foundation erection
        Operation and Maintenance at various locations " due at 04.00 PM on
        29.11.2023 opening at 04.30 PM on 29.11.2023
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
      </ul>
      <li>
        Bid Document for "Dismantling of Lattice mast from NE states and
        Gujarat, Kerala and Transport to NIWE Kayathar" due at 05.00 PM on
        25.10.2023 opening at 05.30 PM on 25.10.2023
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
      </ul>
      <li>
        Bid Document for "Supply of Data Logger with Temperature and Pressure
        Sensor to NIWE Chennai " due at 11.00 AM on 04.10.2023 opening at 11.30
        AM on 04.10.2023
      </li>
      <li>
        Bid Document for "Tender for Supply, Pre-deployment validation,
        Installation and Commissioning of Integrated Floating Buoy with offshore
        LiDAR together with Meteorological and Oceanographic Sensors (Wave,
        Current etc.,) on OUTRIGHT PROCUREMENT BASIS at Sub Zone-1 in Gulf of
        Mannar off, Tamil Nadu Coast in India including Warranty & Comprehensive
        Operation and Maintenance" due at 04.30 PM on 03.10.2023 opening at
        04.30 PM AM on 04.10.2023
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 03</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 04</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 05</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 06</b></li>
      </ul>

      <li>
        Bid Document for "Tender for Measurement and providing of meteorological
        and oceanographic data (RAW and post- processed) for a continuous period
        of minimum one year by deploying Integrated Floating Buoy with offshore
        LiDAR, Meteorological and Oceanographic Sensors (Wave, Current etc.,) on
        LEASE BASIS at Sub Zone-1 in Gulf of Mannar off, Tamil Nadu Coast in
        India including Comprehensive Operation and Maintenance" due at 04.30 PM
        on 03.10.2023 opening at 04.30 PM AM on 04.10.2023
      </li>

      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 03</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 04</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 05</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 06</b></li>
      </ul>
      <li>
        Bid Document for "Calibration Services " due at 01.00 PM on 16.08.2023
        opening at 01.30 PM on 16.08.2023
      </li>
      <ul class="purchase_order">
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 01</b></li>
        <li class="pt-2 pb-2 text-dark"><b> Corrigendum - 02</b></li>
      </ul>
    </ul>

    <li class="text-dark" style="list-style-type: none">
      <b>
        Purchase Order - all tenders (except) single tender and proprietary
        tenders are being published though e-publishing portal Central Public
        Procurement Portal (CPPP)
      </b>
    </li>

    <ul class="text-success purchase_order pb-3">
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.11.2022_to_31.11.2022.pdf"
          >List of Purchase Orders released from 01.11.2022 to 31.11.2022</a
        >
      </li>
      <li>
        <a
          href=" /static/pdf/tenders/Purchase_order_released_from_01.10.2022_to_30.10.2022.pdf"
        >
          List of Purchase Orders released from 01.10.2022 to 30.10.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.09.2022_to_31.09.2022.pdf"
          >List of Purchase Orders released from 01.09.2022 to 31.09.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.08.2022_to_30.08.2022.pdf"
          >List of Purchase Orders released from 01.08.2022 to 30.08.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.07.2022_to_31.07.2022.pdf"
        >
          List of Purchase Orders released from 01.07.2022 to 31.07.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.06.2022_to_30.06.2022.pdf"
        >
          List of Purchase Orders released from 01.06.2022 to 30.06.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.05.2022_to_31.05.2022.pdf"
          >List of Purchase Orders released from 01.05.2022 to 31.05.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2022_to_30.04.2022.pdf"
          >List of Purchase Orders released from 01.04.2022 to 30.04.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2021_to_31.03.2022.pdf"
          >List of Purchase Orders released from 01.04.2021 to 31.03.2022</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.03.2021_to_31.03.2021.pdf"
          >List of Purchase Orders released from 01.03.2021 to 31.03.2021</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2020_to_28.02.2021.pdf"
        >
          List of Purchase Orders released from 01.04.2020 to 28.02.2021</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2019_to_30.10.2019.pdf"
        >
          List of Purchase Orders released from 01.04.2019 to 30.10.2019</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_Order_Released_from_01.04.2018_to_31.03.2019.pdf"
          >List of Purchase Orders released from 01.04.2018 to 31.03.2019</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_order_released_from_01.04.2017_to_31.03.2018.pdf"
          >List of Purchase Orders released from 01.04.2017 to 31.03.2018</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/Purchase_Order_from_01.04.2016_to_31.03.2017.pdf"
        >
          List of Purchase Orders released from 01.04.2016 to 31.03.2017</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/List_of_purchase_01.04.2015_to_30.03.2016.pdf"
          >List of Purchase Orders released from 01.04.2015 to 30.03.2016</a
        >
      </li>
      <li>
        <a
          href="/static/pdf/tenders/List_of_purchase_01.04.2014_to_31.03.2015.pdf"
          >List of Purchase Orders released from 01.04.2014 to 31.03.2015</a
        >
      </li>
      <li>
        <a href="/static/pdf/tenders/List_of_purchase_2013-2014.pdf"
          >List of Purchase Orders released from 01.04.2013 to 31.03.2014</a
        >
      </li>
    </ul>
  </div>
</section>
<!-- footer -->

{% include 'footer.html' %}
