{% include 'header.html' %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Whats New</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Whats New</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">
  <div class="container">

    <h1>Whats New</h1>
                
    <li><b><a href="assets/Docu/tender/Tender_Kayathar_Transformer.pdf" target="_blank"> Tender for "Repair and Rewinding of 250KVA Distribution Transformer at Kayathar" due at 03.30 PM on 30.09.2024 opening at 03.30 PM on 01.10.2024 </a></b></li>
    <li><b><a href="assets/Docu/tender/Group_Mediclaim_Insurance_Service.pdf" target="_blank"> Bid Document for "Group Mediclaim Insurance Service - Permanent Employees, Retired / Superannuated / Pensioners; Hospitalization for accident & emergency Treatments, Domiciliary treatment, Maternity, All pre-existing illness"  due at 03.00 PM on 24.07.2024 opening at 03.30 PM on 24.07.2024 </a></b>
      <ol type = "1"> 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service.pdf" target ="_blank"><b>Corrigendum - 01 </b></a></li>                                 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_ATC.pdf" target ="_blank"><b>Bid Corrigendum </b></a></li>                                 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_02.docx" target ="_blank"><b>Corrigendum - 03 </b></a></li>                                 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_03.png" target ="_blank"><b>Corrigendum - 04 </b></a></li>                                 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_04.png" target ="_blank"><b>Corrigendum - 05 </b></a></li>                                 
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_05.png" target ="_blank"><b>Corrigendum - 06 </b></a></li>
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_06.png" target ="_blank"><b>Corrigendum - 07 </b></a></li>
          <li><a href="assets/Docu/tender/Corrigendum_Group_Mediclaim_Insurance_Service_07.pdf" target ="_blank"><b>Corrigendum - 08 </b></a></li>

      </ol>
    </li>
    <li><b><a href="" target="_blank"> Custom Bid for Services - Design Fabrication installation commissioning and transport for 150 m met mast at 3 location in ODISHA  due at 07.00 PM on 16.07.2024 opening at 07.30 PM on 16.07.2024 </a></b>
      <ol type = "1"> 
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha_150.pdf" target ="_blank"><b>Corrigendum - 01 </b></a></li> 
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha_150.png" target ="_blank"><b>Corrigendum - 02 </b></a></li> 
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha1_150.pdf" target ="_blank"><b>Corrigendum - 03 </b></a></li>   
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha2_150.png" target ="_blank"><b>Corrigendum - 04 </b></a></li>       
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha3_150.png" target ="_blank"><b>Corrigendum - 05 </b></a></li>
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha4_150.png" target ="_blank"><b>Corrigendum - 06 </b></a></li>
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha5_150.pdf" target ="_blank"><b>Corrigendum - 07 </b></a></li>
          <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha6_150.png" target ="_blank"><b>Corrigendum - 08 </b></a><span class ="label">NEW</span></li>

      </ol>
  </li>
  <li><b><a href="assets/Docu/tender/Tender_Metmast_Odisha.pdf" target="_blank"> Custom Bid for Services - Design Fabrication Installation Commissioning And Transport For 120 M Met Mast At 2 Location In ODISHA With 1 Year OM  due at 07.00 PM on 16.07.2024 opening at 07.30 PM on 16.07.2024 </a></b>
    <ol type = "1"> 
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha.pdf" target ="_blank"><b>Corrigendum - 01 </b></a></li>                   
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha1.png" target ="_blank"><b>Corrigendum - 02 </b></a></li>                                 
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha2.pdf" target ="_blank"><b>Corrigendum - 03 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha3.png" target ="_blank"><b>Corrigendum - 04 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha4.png" target ="_blank"><b>Corrigendum - 05 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha5.png" target ="_blank"><b>Corrigendum - 06 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha6.pdf" target ="_blank"><b>Corrigendum - 07 </b></a></li>
        <li><a href="assets/Docu/tender/Corrigendum_Tender_Metmast_Odisha7.png" target ="_blank"><b>Corrigendum - 08 </b></a></li>
                        
    </ol>
  </li> 

  <li><b><a href="national_27.php" target="_blank">27<sup>th</sup> National Training Course on "Wind Energy Technology"  18<sup>th</sup> to 20<sup>th</sup> December 2024  <span class="label">NEW</span></a></b></li>	   
  <li><b><a href="assets/Docu/NIWE_RD Vision_2024.pdf" target="_blank">  R&D Vision Document </a></b></li>                                                                                                                                                                                                                                                                                                                                                                 
  <li><b><a href="https://www.seci.co.in/whats-new-detail/2606" target="_blank">RfS for Allocation of Sea-bed Lease Rights for 4000 MW Offshore Wind Power Projects </a></b></li>		
  <li><b><a href="https://www.seci.co.in/whats-new-detail/2603" target="_blank">NIT for Allocation of Sea-bed Lease Rights for Offshore Wind Power Projects in India </a></b></li> 		        
  <li><b><a href ="assets/Docu/Elevation_certificate_MoD.pdf" target="_blank">Issuance of an elevation certificate for MoD NoC applications of Wind Power Projects </a> </b></li>            
  <li><b><a href ="wind_potential.php" target="_blank">Wind Potential Sites for setting up Wind Projects_MOD NOC details </a> </b></li>           
  <li><b><a href="https://vsdp.niwe.res.in" target="_blank">Vayumitra Skill Development Programme</a> </b></li>            
  <li><b><a href="assets/Docu/Guidelines_for_Offshore_Wind_Power_Assessment_Studies_and_Surveys.pdf" target="_blank">Amendment in the 'Guidelines for Offshore Wind Power Assessment Studies and Surveys'  </a></b></li>           
  <li><b><a href="assets/Docu/NABL_certificate_of_accreditation_2022-24.pdf" target="_blank"> Certification of Accreditation </a></b></li>
  <li><b><a href="https://mnre.gov.in/img/documents/uploads/file_f-1657882722533.pdf" target="_blank">Offshore Strategy Paper</a></b></li>                
  <li><b><a href="assets/Docu/White_Paper_on_Wind_Turbine_Technology_2020-30.pdf" target="_blank">White Paper on Wind Turbine Technology R&D for India 2020-30 </a></b></li>      
  <li><b><a href="assets/Docu/Special_Reservation_Cell(SRC)_13.01.2021.pdf" target="_blank">Special Reservation Cell in NIWE </a></b></li>                     
  <li><b><a href="department_owd_lidar_raw_data.php" target="_blank">Offshore LiDAR raw data (*.STA & *.RTD files) at Gulf of Khambhat off Gujarat coast from Dec 2018 to Nov 2019 </a></b></li>				
  <li><b><a href="assets/Docu/India's_Wind_Potential_Atlas_at_120m_agl.pdf" target="_blank">India's Wind Potential Atlas at 120m agl</a> </b></li>               
  <li><b><a href='assets/Docu/MINUTES_OF_THE_MEETING_Ladakh_06.12.2019.pdf' target="_blank">"Minutes of the Meeting - Development of Wind/Solar Power projects in Ladakh region" </a></b></li>
  <li><b><a href="assets/Docu/Ladakh_Presentation_06.12.2019.pdf" target="_blank">Wind / Solar Resource Assessment studies in Leh Ladakh UT </a></b></li>
  <li><b><a href="assets/Docu/tender/Notice_for_GeM.pdf" target="_blank"><span class="blink_text">Information :</span> "All Vendors to get registered in Government e-Market place (GeM)" </a></b></li>               
  <li><b><a href="department_owd_time_series_data.php" target="_blank">Procedure for purchasing the Time Series Wind/Solar Data </a></b></li>          
  <li><b><a href="assets/Docu/AIRTF_Brochure.pdf" target="_blank">ASEAN-INDIA Research Training Fellowship (AIRTF) Programme </a></b></li>
  <li><b><a href="assets/Docu/RTF-DCS_Brochure.pdf" target="_blank">Research Training Fellowship - Developing Countries Scientist (RTF-DCS) Scheme </a></b></li>
  <li><b><a href="assets/Docu/NIWE_Testing_and_certification_Letter_dt_07.02.2018.pdf" target="_blank">"MNRE approved NIWE as Testing and Type Certification body in India for all wind related issues" </a></b></li>          
  <li><b><a href="assets/Docu/GST_registration_certificate.pdf" target="_blank">NIWE's GST Registration Certificate </a></b></li>


  </div>
</section>

{% include 'footer.html' %}
