{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">FOWPI Report</h1>
    </div>
  </div>
</section>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul>
          <a href=""><li>FOWIND Policy Outlook</li></a>
          <a href=""><li>FOWIND Pre Feasiblity Study on Gujarat</li></a>
          <a href=""><li>FOWIND Pre Feasiblity Study on Tamil nadu</li></a>
          <a href=""><li>FOWIND Supply Chain Report</li></a>
          <a href=""><li>FOWIND Feasiblity Study on Gujarat</li></a>
          <a href=""><li>FOWIND Feasiblity Study on Tamil Nadu</li></a>
          <a href=""><li>FOWIND Report on Road map 0 to 5 GW</li></a>
        </ul>
      </div>  
      <div class="col-md-4">
        <div class="depart-side-tabs">
          <ul>
            <a href="/statics/images/EIA_report.pdf">
              <li>
                EIA Report
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>
            <a href="https://mnre.gov.in/">
              <li>
                Offshore Strategy Paper
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>

            <a href="department_wra&o_fowind_report.html">
              <li>FOWIND Report</li>
            </a>

            <a href="fowpi_report.html">
              <li>FOWPI Report</li>
            </a>

            <a href="fowpi_workshop_presentation.html">
              <li>FOWPI Workshop Presentations</li>
            </a>

            <a href="department_owd_lidar_raw_data.html">
              <li>Offshore LiDAR raw data</li>
            </a>

            <a href="department_wra&o_offshore_portal.html">
              <li>Offshore Wind Energy Portal</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
