{% load static %}
<div class="depart-side-tabs">
  <ul>
    <a
      href="/static/pdf/depart-side-tabs/Elevation_certificate_MoD.pdf"
      target="_blank"
    >
      <li>
        Issuance of an elevation certificate for MoD NoC applications of Wind
        Power Projects
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="/wind_potential">
      <li>
        Wind Potential Sites for setting up Wind Projects_MOD NOC details
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a
      href="{% static 'static/images/LIST_OF_WMS_AS_ON_30-06-2024.pdf' %}"
      target="_blank"
    >
      <li>List of Wind Monitoring Stations</li>
    </a>
    <a href="{% url 'wra_status' %}">
      <li>Status of Wind Monitoring Stations</li>
    </a>
    <a href="{% url 'wra_sale' %}">
      <li>Publications for Sale</li>
    </a>
    <a href="{% url 'wra_station_map' %}">
      <li>SRRA stations Map</li>
    </a>
    <a href="{% url 'wra_srra_phases' %}">
      <li>List of SRRA stations with co-ordinates</li>
    </a>
    <a href="{% url 'wra_srra_station' %}">
      <li>Consolidate list of SRRA Phase-I & Phase-II,MEDA, ANERT & AMS</li>
    </a>
    <a href="/static/pdf/calibration_under_commercial_mode.pdf" target="_blank">
      <li>Calibration of solar instruments under commercial mode</li>
    </a>
    <a href="/static/pdf/Calibration_Requisition_Form.pdf" target="_blank">
      <li>Calibration requisition form</li>
    </a>
    <a href="https://maps.niwe.res.in/resource_map/map/120m/">
      <li>
        Wind Power Potential at 120m agl
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>

    <a href="https://maps.niwe.res.in/resource_map/map/150m/">
      <li>
        Wind Power Potential at 150m agl
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="https://maps.niwe.res.in/resource_map/map/20m/">
      <li>
        Wind Power Potential at 20m agl
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="https://maps.niwe.res.in/resource_map/map/hybrid/">
      <li>
        Hybrid Map
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>
    <a href="https://maps.niwe.res.in/resource_map/map/solar/">
      <li>
        Indian Solar Radiation Atlas
        <span
          class="blink_me"
          style="
            background-color: red;
            padding: 1px 5px 4px;
            color: #fff;
            border-radius: 4px;
          "
          >New</span
        >
      </li>
    </a>

    <a href="{% url 'wra_micro_servey' %}">
      <li>Micro Survey Report</li>
    </a>
    <a href="{% url 'wra_power_estimate' %}">
      <li>
        Estimation of Installable Wind Power Potential at 80 m level in India
      </li>
    </a>

    <a href="{% url 'wra_wpd_map' %}">
      <li>WPD Map</li>
    </a>

    <a href="{% url 'wra_numerical_wind' %}">
      <li>Numerical Wind Atlas Files of India</li>
    </a>
  </ul>
</div>
