{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">
        Offshore LiDAR raw data (*.STA & *.RTD files) at Gulf of Khambhat off
        Gujarat coast .
      </h1>
    </div>
  </div>
</section>

<section class="dgm-div" >
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="divContent">
        <h5 class="pb-3">
          Offshore LiDAR 1st year raw data Dec 2017 - Nov 2018
        </h5>
        <ul>
          <a href=""
            ><li>Offshore LiDAR raw data (*.STA & *.RTD files) (18.6 GB)</li></a
          >
          <a href=""
            ><li>
              Installation & Maintenance reports submitted by M/s Meteopole.
            </li></a
          >
          <a href=""><li>Jafarabad Coastal data.</li></a>
          <a href=""
            ><li>Platform level anemometer calibration certificate</li></a
          >
          <a href=""><li>LiDAR Validation report</li></a>
          <a href=""><li>First offshore Lidar wind data analysis report</li></a>
        </ul>

        <h5 class="pb-3 pt-2">
          Offshore LiDAR 2nd year raw data Dec 2018 - Nov 2019
          <span
            class="blink_me"
            style="
              background-color: red;
              padding: 1px 5px 4px;
              color: #fff;
              border-radius: 4px;
            "
            >New</span
          >
        </h5>

        <ul>
          <a href=""
            ><li>
              Report on first offshore LiDAR Wind Data (2nd year) analysis
              (.pdf)
            </li></a
          >
          <a href=""
            ><li>Offshore LiDAR raw data (*.STA & *.RTD files) (14.7 GB)</li></a
          >
          <a href=""><li>Jafrabad Coastal data (.txt)</li></a>
          <a href=""><li>Extracted LiDAR data (.txt)</li></a>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="depart-side-tabs">
          <ul>
            <a href="/statics/images/EIA_report.pdf">
              <li>
                EIA Report
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>
            <a href="https://mnre.gov.in/">
              <li>
                Offshore Strategy Paper
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>

            <a href="department_wra&o_fowind_report.html">
              <li>FOWIND Report</li>
            </a>

            <a href="fowpi_report.html">
              <li>FOWPI Report</li>
            </a>

            <a href="fowpi_workshop_presentation.html">
              <li>FOWPI Workshop Presentations</li>
            </a>

            <a href="department_owd_lidar_raw_data.html">
              <li>Offshore LiDAR raw data</li>
            </a>

            <a href="department_wra&o_offshore_portal.html">
              <li>Offshore Wind Energy Portal</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
