{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Research and Development (R&D)</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item"><a href="{% url 'contact' %}">Contact Us </a></li>
      <li class="breadcrumb-item active" aria-current="page"> Research and Development (R&D)</li>
    </ol>
  </nav>
</div>

<section class="staff-dev" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <!-- sidenav bar -->
        {% include 'sidenav.html' %}
      </div>

      <div class="col-md-8 col-12">
        <div class="staff-table">
          <div class="table-responsive">
            <table
              class="table table-bordered table-striped"
              style="margin-top: 20px"
            >
              <thead class="table__head">
                <tr>
                  <th><i class="fa fa-user" aria-hidden="true"></i> Name</th>
                  <th>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Contact
                  </th>
                </tr>
              </thead>
              <tbody class="table__body">
                {% for staff in rndStaff %}
                <tr>
                  <td>  
              
              <a href="{% url 'rnd_staff_photo' staff.id %}"> {{staff.name}}</a>
                
                    <br />
                    {{staff.position}}
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    {{staff.email}}

                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i
                    >{{staff.phone_number}}
                  </td>
                </tr>
                {% endfor %} {% comment %}
                <tr>
                  <td>
                    SHRI.M.KARUPPUCHAMY
                    <br />
                    Assistant Executive Engineer, WTRS
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    karuppuchamy@niwe.res.in
                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i> 04632 -
                    261931 / 262035
                  </td>
                </tr>

                <tr>
                  <td>
                    SHRI.Y.PACKIYARAJ
                    <br />
                    Assistant Executive Engineer, WTRS
                  </td>
                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    packiyaraj@niwe.res.in
                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i> 04632 -
                    261931
                  </td>
                </tr>
                {% endcomment %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
