{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Testing, Standards & Regulation</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="/">Home </a></li>
      <li class="breadcrumb-item"><a href="{% url 'contact' %}">Contact Us </a></li>
      <li class="breadcrumb-item active" aria-current="page">Testing, Standards & Regulationli>
    </ol>
  </nav>
</div>


<section class="staff-dev">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <!-- sidenav bar -->
        {% include 'sidenav.html' %}
      </div>

      <div class="col-md-8 col-12">
        <div class="staff-table">
          <div class="table-responsive">
            <table
              class="table table-bordered table-striped"
              style="margin-top: 0px"
            >
              <thead class="table__head">
                <tr>
                  <th><i class="fa fa-user" aria-hidden="true"></i> Name</th>
                  <th>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Contact
                  </th>
                </tr>
              </thead>
              <tbody class="table__body">
                {% for staff in snrStaff %} {% if not staff.department %}
                <tr>
                  <td>
              <a href="{% url 'snr_staff_photo' staff.id %}"> {{staff.name}}</a>
                    <br />
                    {{staff.position}}
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i
                    >{{staff.email}} 0 <br />
                    <i class="fa fa-phone" aria-hidden="true"></i
                    >{{staff.phone_number}}
                  </td>
                </tr>
                {% endif %} {% endfor %}

                <tr class="text-center">
                  <td colspan="2">Testing</td>
                </tr>
                {% for staff in snrStaff %}
                 {% if staff.department == "Testing"  %}
               
                <tr>
                  <td>
              <a href="{% url 'snr_staff_photo' staff.id %}"> {{staff.name}}</a>
                    <br />
                    {{staff.position}}
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i
                    >{{staff.email}}
                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i
                    >{{staff.phone_number}}
                  </td>
                </tr>
                {% endif %}
                  {% endfor %}
                
             

                <tr class="text-center">
                  <td colspan="2">Standards & Regulation</td>
                </tr>
                {% for staff in snrStaff %} 
                {% if staff.department == 'Standards & Regulation' %}
                <tr>
                  <td>
              <a href="{% url 'snr_staff_photo' staff.id %}"> {{staff.name}}</a>

                    <br />{{staff.position}}
                  </td>

                  <td>
                    <i class="fa fa-envelope" aria-hidden="true"></i
                    >{{staff.email}}

                    <br />
                    <i class="fa fa-phone" aria-hidden="true"></i
                    >{{staff.phone_number}}
                  </td>
                </tr>
                {% endif %} {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
