{% include 'hi_header.html' %}

<!-- nav end -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Related Links</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'document' %}">Documents</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Realted Links</li>
    </ol>
  </nav>
</div>

<section class="rnd-div" id="divContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="divContent">
        <div class="accordion" id="related">
          <h4 class="pb-2">INDIA</h4>
          {% for item in related_links %}
            {% if item.area == 'India' %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                  <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}"
                    aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter }}">
                    {{ item.title|safe }}
                  </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}hide{% endif %}" 
                aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#related">
                  <div class="accordion-body">{{ item.description|safe }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <div class="accordion" id="related1">

          <h4 class="pb-2">REST OF THE WORLD</h4>
          {% for item in related_links %}
            {% if item.area == 'World' %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                  <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}"
                    aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter }}">
                    {{ item.title|safe }}
                  </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}hide{% endif %}" 
                aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#related1">
                  <div class="accordion-body">{{ item.description|safe }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'hi_footer.html' %}
