{% include 'header.html' %} {% load static %}
<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">WEBSITE POLICY</h1>
    </div>
  </div>
</section>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Website Policy</li>
    </ol>
  </nav>
</div>

<section class="dgm-div" id="div-content">

    <div class="container">
         <!-- Main Heading -->
    <h1 class="mb-4">Ministry of New & Renewable Energy (MNRE) Website Policies</h1>
    
    <!-- Section 1: Copyright Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Copyright Policy</h3>
                <p>However, the permission to reproduce this material does not extend to any material on this site which is explicitly identified as being the copyright of a third party. Authorization to reproduce such material must be obtained from the copyright holders concerned.</p>
            </div>
        </div>
    </div>

    <!-- Section 2: Hyperlinking Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Hyperlinking Policy</h3>
                <p>At many places in this Website, you shall find links to other websites/portals. These links have been placed for your convenience. Ministry of New & Renewable Energy (MNRE) is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them...</p>
            </div>
        </div>
    </div>

    <!-- Section 3: Privacy Policy -->
    <div class="border-bottom pb-3 mb-4">
        <div class="d-flex align-items-start">
            <div class="me-2">
                <span class="bg-warning d-block" style="width: 6px; height: 100%;"></span>
            </div>
            <div>
                <h3 class="fw-bold">Privacy Policy</h3>
                <p>This website records your visit and logs the following information for statistical purposes - your server’s address; the name of the top-level domain from which you access the Internet (for example, .gov, .com, .in, etc.); the type of browser you use; the date and time you access the site; the pages you have accessed and the documents downloaded and the previous Internet address from which you linked directly to the site.</p>
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
